Repository lydemann/course-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx nx format:write --files, npx stylelint --fix

chore: fix build
  apps/course-platform-analog/vite.config.ts
Due: npx eslint --fix, npx nx format:write --files

chore: admin routes
  apps/course-platform-analog/src/app/app.config.ts
Due: npx eslint --fix, npx nx format:write --files

chore: fix routes
  apps/course-platform-analog/vite.config.ts
  apps/course-platform-analog/vite.config.ts.timestamp-1719579948083-155e6142f69c4.mjs
Due: npx eslint --fix, npx nx format:write --files

chore: fix build
  apps/course-platform-analog/project.json
  apps/course-platform-analog/src/app/app.config.ts
  apps/course-platform-analog/vite.config.ts
  vercel.json
Due: npx eslint --fix, npx nx format:write --files

chore: add withExtraRoutes to router configuration
  apps/course-platform-analog/src/app/app.config.ts
Due: npx eslint --fix, npx nx format:write --files

chore: add Vercel configuration and optimize Vite build settings
  apps/course-platform-analog/src/app/app.config.ts
  apps/course-platform-analog/vercel.json
  apps/course-platform-analog/vite.config.ts
Due: npx eslint --fix, npx nx format:write --files

fix(course-platform-analog): resolve ImportMeta.env TypeScript error
  apps/course-platform-analog/src/vite-env.d.ts
  apps/course-platform-analog/tsconfig.app.json
Due: npx eslint --fix, npx nx format:write --files

docs: add comprehensive CLAUDE.md documentation
  .gitignore
  .vscode/settings.json
  CLAUDE.md
  apps/course-platform-analog/.env.sample
  apps/course-platform-analog/set-user-role.ts
Due: npx eslint --fix, npx nx format:write --files

feat: add mcp configuration for nx-mcp server
  .cursor/mcp.json
Due: npx nx format:write --files

feat(course-platform-analog): enhance Vite configuration
  apps/course-platform-analog/vite.config.ts
Due: npx eslint --fix, npx nx format:write --files

feat(course-platform-analog): update build
  CLAUDE.md
  package.json
  pnpm-lock.yaml
Due: npx nx format:write --files

chore(package.json): remove deploy command for course-platform-analog
  package.json
Due: npx nx format:write --files

Fix admin deploy (#151)
  .cursor/mcp.json
  .gitignore
  .vscode/settings.json
  CLAUDE.md
  apps/course-platform-analog/.env.sample
  apps/course-platform-analog/set-user-role.ts
  apps/course-platform-analog/src/vite-env.d.ts
  apps/course-platform-analog/tsconfig.app.json
  apps/course-platform-analog/vite.config.ts
  package.json
  pnpm-lock.yaml
Due: npx eslint --fix, npx nx format:write --files

feat: add Vercel configuration and optimize build settings
  .vercelignore
  CLAUDE.md
  apps/course-platform-analog/src/app/app.config.ts
  apps/course-platform-analog/vite.config.ts
  package.json
  vercel.json
Due: npx eslint --fix, npx nx format:write --files

chore(vercel.json): update framework from nx to angular
  vercel.json
Due: npx nx format:write --files

Fix deploy analog 2 (#152)
  .vercelignore
  CLAUDE.md
  apps/analogjs-demo/analogjs-demo-e2e/.eslintrc.json
  apps/analogjs-demo/analogjs-demo-e2e/cypress.config.ts
  apps/analogjs-demo/analogjs-demo-e2e/project.json
  apps/analogjs-demo/analogjs-demo-e2e/src/e2e/app.cy.ts
  apps/analogjs-demo/analogjs-demo-e2e/src/fixtures/example.json
  apps/analogjs-demo/analogjs-demo-e2e/src/support/app.po.ts
  apps/analogjs-demo/analogjs-demo-e2e/src/support/commands.ts
  apps/analogjs-demo/analogjs-demo-e2e/src/support/e2e.ts
  apps/analogjs-demo/analogjs-demo-e2e/tsconfig.json
  apps/analogjs-demo/analogjs-demo/.eslintrc.json
  apps/analogjs-demo/analogjs-demo/index.html
  apps/analogjs-demo/analogjs-demo/jest.config.ts
  apps/analogjs-demo/analogjs-demo/package.json
  apps/analogjs-demo/analogjs-demo/project.json
  apps/analogjs-demo/analogjs-demo/public/favicon.ico
  apps/analogjs-demo/analogjs-demo/src/app/app.component.html
  apps/analogjs-demo/analogjs-demo/src/app/app.component.scss
  apps/analogjs-demo/analogjs-demo/src/app/app.component.spec.ts
  apps/analogjs-demo/analogjs-demo/src/app/app.component.ts
  apps/analogjs-demo/analogjs-demo/src/app/app.config.server.ts
  apps/analogjs-demo/analogjs-demo/src/app/app.config.ts
  apps/analogjs-demo/analogjs-demo/src/app/app.routes.ts
  apps/analogjs-demo/analogjs-demo/src/app/nx-welcome.component.ts
  apps/analogjs-demo/analogjs-demo/src/main.server.ts
  apps/analogjs-demo/analogjs-demo/src/main.ts
  apps/analogjs-demo/analogjs-demo/src/server/routes/api/v1/hello.ts
  apps/analogjs-demo/analogjs-demo/src/styles.scss
  apps/analogjs-demo/analogjs-demo/src/test-setup.ts
  apps/analogjs-demo/analogjs-demo/tsconfig.app.json
  apps/analogjs-demo/analogjs-demo/tsconfig.editor.json
  apps/analogjs-demo/analogjs-demo/tsconfig.json
  apps/analogjs-demo/analogjs-demo/tsconfig.spec.json
  apps/analogjs-demo/analogjs-demo/vite.config.ts
  apps/course-platform-analog/src/app/app.config.ts
  apps/course-platform-analog/vite.config.ts
  package.json
  vercel.json
Due: npx eslint --fix, npx nx format:write --files, npx stylelint --fix

chore(vercel.json): remove server function configuration
  vercel.json
Due: npx nx format:write --files

Deploy analog 3 (#153)
  vercel.json
Due: npx nx format:write --files

chore: update vercel
  .vercelignore
  apps/analogjs-demo/analogjs-demo-e2e/.eslintrc.json
  apps/analogjs-demo/analogjs-demo-e2e/cypress.config.ts
  apps/analogjs-demo/analogjs-demo-e2e/project.json
  apps/analogjs-demo/analogjs-demo-e2e/src/e2e/app.cy.ts
  apps/analogjs-demo/analogjs-demo-e2e/src/fixtures/example.json
  apps/analogjs-demo/analogjs-demo-e2e/src/support/app.po.ts
  apps/analogjs-demo/analogjs-demo-e2e/src/support/commands.ts
  apps/analogjs-demo/analogjs-demo-e2e/src/support/e2e.ts
  apps/analogjs-demo/analogjs-demo-e2e/tsconfig.json
  apps/analogjs-demo/analogjs-demo/.eslintrc.json
  apps/analogjs-demo/analogjs-demo/index.html
  apps/analogjs-demo/analogjs-demo/jest.config.ts
  apps/analogjs-demo/analogjs-demo/package.json
  apps/analogjs-demo/analogjs-demo/project.json
  apps/analogjs-demo/analogjs-demo/public/favicon.ico
  apps/analogjs-demo/analogjs-demo/src/app/app.component.html
  apps/analogjs-demo/analogjs-demo/src/app/app.component.scss
  apps/analogjs-demo/analogjs-demo/src/app/app.component.spec.ts
  apps/analogjs-demo/analogjs-demo/src/app/app.component.ts
  apps/analogjs-demo/analogjs-demo/src/app/app.config.server.ts
  apps/analogjs-demo/analogjs-demo/src/app/app.config.ts
  apps/analogjs-demo/analogjs-demo/src/app/app.routes.ts
  apps/analogjs-demo/analogjs-demo/src/app/nx-welcome.component.ts
  apps/analogjs-demo/analogjs-demo/src/main.server.ts
  apps/analogjs-demo/analogjs-demo/src/main.ts
  apps/analogjs-demo/analogjs-demo/src/server/routes/api/v1/hello.ts
  apps/analogjs-demo/analogjs-demo/src/styles.scss
  apps/analogjs-demo/analogjs-demo/src/test-setup.ts
  apps/analogjs-demo/analogjs-demo/tsconfig.app.json
  apps/analogjs-demo/analogjs-demo/tsconfig.editor.json
  apps/analogjs-demo/analogjs-demo/tsconfig.json
  apps/analogjs-demo/analogjs-demo/tsconfig.spec.json
  apps/analogjs-demo/analogjs-demo/vite.config.ts
  vercel.json
Due: npx eslint --fix, npx nx format:write --files, npx stylelint --fix

Deploy analog 3 (#154)
  .vercelignore
  apps/analogjs-demo/analogjs-demo-e2e/.eslintrc.json
  apps/analogjs-demo/analogjs-demo-e2e/cypress.config.ts
  apps/analogjs-demo/analogjs-demo-e2e/project.json
  apps/analogjs-demo/analogjs-demo-e2e/src/e2e/app.cy.ts
  apps/analogjs-demo/analogjs-demo-e2e/src/fixtures/example.json
  apps/analogjs-demo/analogjs-demo-e2e/src/support/app.po.ts
  apps/analogjs-demo/analogjs-demo-e2e/src/support/commands.ts
  apps/analogjs-demo/analogjs-demo-e2e/src/support/e2e.ts
  apps/analogjs-demo/analogjs-demo-e2e/tsconfig.json
  apps/analogjs-demo/analogjs-demo/.eslintrc.json
  apps/analogjs-demo/analogjs-demo/index.html
  apps/analogjs-demo/analogjs-demo/jest.config.ts
  apps/analogjs-demo/analogjs-demo/package.json
  apps/analogjs-demo/analogjs-demo/project.json
  apps/analogjs-demo/analogjs-demo/public/favicon.ico
  apps/analogjs-demo/analogjs-demo/src/app/app.component.html
  apps/analogjs-demo/analogjs-demo/src/app/app.component.scss
  apps/analogjs-demo/analogjs-demo/src/app/app.component.spec.ts
  apps/analogjs-demo/analogjs-demo/src/app/app.component.ts
  apps/analogjs-demo/analogjs-demo/src/app/app.config.server.ts
  apps/analogjs-demo/analogjs-demo/src/app/app.config.ts
  apps/analogjs-demo/analogjs-demo/src/app/app.routes.ts
  apps/analogjs-demo/analogjs-demo/src/app/nx-welcome.component.ts
  apps/analogjs-demo/analogjs-demo/src/main.server.ts
  apps/analogjs-demo/analogjs-demo/src/main.ts
  apps/analogjs-demo/analogjs-demo/src/server/routes/api/v1/hello.ts
  apps/analogjs-demo/analogjs-demo/src/styles.scss
  apps/analogjs-demo/analogjs-demo/src/test-setup.ts
  apps/analogjs-demo/analogjs-demo/tsconfig.app.json
  apps/analogjs-demo/analogjs-demo/tsconfig.editor.json
  apps/analogjs-demo/analogjs-demo/tsconfig.json
  apps/analogjs-demo/analogjs-demo/tsconfig.spec.json
  apps/analogjs-demo/analogjs-demo/vite.config.ts
  vercel.json
Due: npx eslint --fix, npx nx format:write --files, npx stylelint --fix

chore: fix build
  vercel.json
Due: npx nx format:write --files

Deploy analog 3 (#155)
  vercel.json
Due: npx nx format:write --files

chore: set custom url
  apps/course-platform-analog/src/app/app.config.ts
Due: npx eslint --fix, npx nx format:write --files

chore: increase
  package.json
Due: npx nx format:write --files

Deploy analog 3 (#156)
  apps/course-platform-analog/src/app/app.config.ts
  package.json
Due: npx eslint --fix, npx nx format:write --files

chore(vercel.json): remove Angular framework
  vercel.json
Due: npx nx format:write --files

Deploy analog 3 (#157)
  vercel.json
Due: npx nx format:write --files

chore: update
  apps/course-platform-analog/vite.config.ts
Due: npx eslint --fix, npx nx format:write --files

Deploy analog 3 (#158)
  apps/course-platform-analog/vite.config.ts
Due: npx eslint --fix, npx nx format:write --files

chore: analogjs demo vercel
  apps/analogjs-demo/analogjs-demo-e2e/.eslintrc.json
  apps/analogjs-demo/analogjs-demo-e2e/cypress.config.ts
  apps/analogjs-demo/analogjs-demo-e2e/project.json
  apps/analogjs-demo/analogjs-demo-e2e/src/e2e/app.cy.ts
  apps/analogjs-demo/analogjs-demo-e2e/src/fixtures/example.json
  apps/analogjs-demo/analogjs-demo-e2e/src/support/app.po.ts
  apps/analogjs-demo/analogjs-demo-e2e/src/support/commands.ts
  apps/analogjs-demo/analogjs-demo-e2e/src/support/e2e.ts
  apps/analogjs-demo/analogjs-demo-e2e/tsconfig.json
  apps/analogjs-demo/analogjs-demo/.eslintrc.json
  apps/analogjs-demo/analogjs-demo/index.html
  apps/analogjs-demo/analogjs-demo/jest.config.ts
  apps/analogjs-demo/analogjs-demo/package.json
  apps/analogjs-demo/analogjs-demo/project.json
  apps/analogjs-demo/analogjs-demo/public/favicon.ico
  apps/analogjs-demo/analogjs-demo/src/app/app.component.html
  apps/analogjs-demo/analogjs-demo/src/app/app.component.scss
  apps/analogjs-demo/analogjs-demo/src/app/app.component.ts
  apps/analogjs-demo/analogjs-demo/src/app/app.config.server.ts
  apps/analogjs-demo/analogjs-demo/src/app/app.config.ts
  apps/analogjs-demo/analogjs-demo/src/app/app.routes.ts
  apps/analogjs-demo/analogjs-demo/src/app/nx-welcome.component.ts
  apps/analogjs-demo/analogjs-demo/src/main.server.ts
  apps/analogjs-demo/analogjs-demo/src/main.ts
  apps/analogjs-demo/analogjs-demo/src/server/routes/api/v1/hello.ts
  apps/analogjs-demo/analogjs-demo/src/styles.scss
  apps/analogjs-demo/analogjs-demo/src/test-setup.ts
  apps/analogjs-demo/analogjs-demo/tsconfig.app.json
  apps/analogjs-demo/analogjs-demo/tsconfig.editor.json
  apps/analogjs-demo/analogjs-demo/tsconfig.json
  apps/analogjs-demo/analogjs-demo/tsconfig.spec.json
  apps/analogjs-demo/analogjs-demo/vite.config.ts
  apps/course-platform-analog/vite.config.ts
  package.json
  vercel.json
Due: npx eslint --fix, npx nx format:write --files, npx stylelint --fix

chore: analogjs demo vercel (#159)
  apps/analogjs-demo/analogjs-demo-e2e/.eslintrc.json
  apps/analogjs-demo/analogjs-demo-e2e/cypress.config.ts
  apps/analogjs-demo/analogjs-demo-e2e/project.json
  apps/analogjs-demo/analogjs-demo-e2e/src/e2e/app.cy.ts
  apps/analogjs-demo/analogjs-demo-e2e/src/fixtures/example.json
  apps/analogjs-demo/analogjs-demo-e2e/src/support/app.po.ts
  apps/analogjs-demo/analogjs-demo-e2e/src/support/commands.ts
  apps/analogjs-demo/analogjs-demo-e2e/src/support/e2e.ts
  apps/analogjs-demo/analogjs-demo-e2e/tsconfig.json
  apps/analogjs-demo/analogjs-demo/.eslintrc.json
  apps/analogjs-demo/analogjs-demo/index.html
  apps/analogjs-demo/analogjs-demo/jest.config.ts
  apps/analogjs-demo/analogjs-demo/package.json
  apps/analogjs-demo/analogjs-demo/project.json
  apps/analogjs-demo/analogjs-demo/public/favicon.ico
  apps/analogjs-demo/analogjs-demo/src/app/app.component.html
  apps/analogjs-demo/analogjs-demo/src/app/app.component.scss
  apps/analogjs-demo/analogjs-demo/src/app/app.component.ts
  apps/analogjs-demo/analogjs-demo/src/app/app.config.server.ts
  apps/analogjs-demo/analogjs-demo/src/app/app.config.ts
  apps/analogjs-demo/analogjs-demo/src/app/app.routes.ts
  apps/analogjs-demo/analogjs-demo/src/app/nx-welcome.component.ts
  apps/analogjs-demo/analogjs-demo/src/main.server.ts
  apps/analogjs-demo/analogjs-demo/src/main.ts
  apps/analogjs-demo/analogjs-demo/src/server/routes/api/v1/hello.ts
  apps/analogjs-demo/analogjs-demo/src/styles.scss
  apps/analogjs-demo/analogjs-demo/src/test-setup.ts
  apps/analogjs-demo/analogjs-demo/tsconfig.app.json
  apps/analogjs-demo/analogjs-demo/tsconfig.editor.json
  apps/analogjs-demo/analogjs-demo/tsconfig.json
  apps/analogjs-demo/analogjs-demo/tsconfig.spec.json
  apps/analogjs-demo/analogjs-demo/vite.config.ts
  apps/course-platform-analog/vite.config.ts
  package.json
  vercel.json
Due: npx eslint --fix, npx nx format:write --files, npx stylelint --fix

fix: password reset
  apps/analogjs-demo/analogjs-demo-e2e/.eslintrc.json
  apps/analogjs-demo/analogjs-demo-e2e/cypress.config.ts
  apps/analogjs-demo/analogjs-demo-e2e/project.json
  apps/analogjs-demo/analogjs-demo-e2e/src/e2e/app.cy.ts
  apps/analogjs-demo/analogjs-demo-e2e/src/fixtures/example.json
  apps/analogjs-demo/analogjs-demo-e2e/src/support/app.po.ts
  apps/analogjs-demo/analogjs-demo-e2e/src/support/commands.ts
  apps/analogjs-demo/analogjs-demo-e2e/src/support/e2e.ts
  apps/analogjs-demo/analogjs-demo-e2e/tsconfig.json
  apps/analogjs-demo/analogjs-demo/.eslintrc.json
  apps/analogjs-demo/analogjs-demo/index.html
  apps/analogjs-demo/analogjs-demo/jest.config.ts
  apps/analogjs-demo/analogjs-demo/package.json
  apps/analogjs-demo/analogjs-demo/project.json
  apps/analogjs-demo/analogjs-demo/public/favicon.ico
  apps/analogjs-demo/analogjs-demo/src/app/app.component.html
  apps/analogjs-demo/analogjs-demo/src/app/app.component.scss
  apps/analogjs-demo/analogjs-demo/src/app/app.component.ts
  apps/analogjs-demo/analogjs-demo/src/app/app.config.server.ts
  apps/analogjs-demo/analogjs-demo/src/app/app.config.ts
  apps/analogjs-demo/analogjs-demo/src/app/app.routes.ts
  apps/analogjs-demo/analogjs-demo/src/app/nx-welcome.component.ts
  apps/analogjs-demo/analogjs-demo/src/main.server.ts
  apps/analogjs-demo/analogjs-demo/src/main.ts
  apps/analogjs-demo/analogjs-demo/src/server/routes/api/v1/hello.ts
  apps/analogjs-demo/analogjs-demo/src/styles.scss
  apps/analogjs-demo/analogjs-demo/src/test-setup.ts
  apps/analogjs-demo/analogjs-demo/tsconfig.app.json
  apps/analogjs-demo/analogjs-demo/tsconfig.editor.json
  apps/analogjs-demo/analogjs-demo/tsconfig.json
  apps/analogjs-demo/analogjs-demo/tsconfig.spec.json
  apps/analogjs-demo/analogjs-demo/vite.config.ts
  apps/course-platform-analog/tsconfig.app.json
  apps/course-platform-analog/vite.config.ts
  libs/course-client/feature/src/lib/forgot-password/forgot-password.component.html
  libs/course-client/feature/src/lib/forgot-password/forgot-password.component.ts
  libs/course-client/feature/src/lib/reset-password/reset-password.component.ts
  libs/shared/auth/domain/src/lib/auth/services/auth-sb.service.ts
Due: npx eslint --fix, npx nx format:write --files, npx stylelint --fix

Fix reset password (#160)
  apps/course-platform-analog/tsconfig.app.json
  apps/course-platform-analog/vite.config.ts
  libs/course-client/feature/src/lib/forgot-password/forgot-password.component.html
  libs/course-client/feature/src/lib/forgot-password/forgot-password.component.ts
  libs/course-client/feature/src/lib/reset-password/reset-password.component.ts
  libs/shared/auth/domain/src/lib/auth/services/auth-sb.service.ts
Due: npx eslint --fix, npx nx format:write --files

chore: fix update password
  apps/course-platform-analog/src/app/pages/update-password.page.ts
  apps/course-platform-analog/vite.config.ts
  libs/course-client/feature/src/lib/index.ts
  libs/course-client/feature/src/lib/update-password/update-password.component.scss
  libs/course-client/feature/src/lib/update-password/update-password.component.ts
  libs/shared/auth/domain/src/lib/auth/services/auth-sb.service.ts
Due: npx eslint --fix, npx nx format:write --files, npx stylelint --fix

chore: rename
  apps/course-platform-analog/src/app/pages/reset-password.page.ts
  apps/course-platform-analog/src/app/pages/update-password.page.ts
  apps/course-platform-analog/vite.config.ts
  libs/course-client/feature/src/lib/index.ts
  libs/course-client/feature/src/lib/update-password/update-password.component.scss
  libs/course-client/feature/src/lib/update-password/update-password.component.ts
  libs/shared/auth/domain/src/lib/auth/services/auth-sb.service.ts
Due: npx eslint --fix, npx nx format:write --files, npx stylelint --fix

chore: fix
  apps/analogjs-demo/analogjs-demo-e2e/.eslintrc.json
  apps/analogjs-demo/analogjs-demo-e2e/cypress.config.ts
  apps/analogjs-demo/analogjs-demo-e2e/project.json
  apps/analogjs-demo/analogjs-demo-e2e/src/e2e/app.cy.ts
  apps/analogjs-demo/analogjs-demo-e2e/src/fixtures/example.json
  apps/analogjs-demo/analogjs-demo-e2e/src/support/app.po.ts
  apps/analogjs-demo/analogjs-demo-e2e/src/support/commands.ts
  apps/analogjs-demo/analogjs-demo-e2e/src/support/e2e.ts
  apps/analogjs-demo/analogjs-demo-e2e/tsconfig.json
  apps/analogjs-demo/analogjs-demo/.eslintrc.json
  apps/analogjs-demo/analogjs-demo/index.html
  apps/analogjs-demo/analogjs-demo/jest.config.ts
  apps/analogjs-demo/analogjs-demo/package.json
  apps/analogjs-demo/analogjs-demo/project.json
  apps/analogjs-demo/analogjs-demo/public/favicon.ico
  apps/analogjs-demo/analogjs-demo/src/app/app.component.html
  apps/analogjs-demo/analogjs-demo/src/app/app.component.scss
  apps/analogjs-demo/analogjs-demo/src/app/app.component.ts
  apps/analogjs-demo/analogjs-demo/src/app/app.config.server.ts
  apps/analogjs-demo/analogjs-demo/src/app/app.config.ts
  apps/analogjs-demo/analogjs-demo/src/app/app.routes.ts
  apps/analogjs-demo/analogjs-demo/src/app/nx-welcome.component.ts
  apps/analogjs-demo/analogjs-demo/src/main.server.ts
  apps/analogjs-demo/analogjs-demo/src/main.ts
  apps/analogjs-demo/analogjs-demo/src/server/routes/api/v1/hello.ts
  apps/analogjs-demo/analogjs-demo/src/styles.scss
  apps/analogjs-demo/analogjs-demo/src/test-setup.ts
  apps/analogjs-demo/analogjs-demo/tsconfig.app.json
  apps/analogjs-demo/analogjs-demo/tsconfig.editor.json
  apps/analogjs-demo/analogjs-demo/tsconfig.json
  apps/analogjs-demo/analogjs-demo/tsconfig.spec.json
  apps/analogjs-demo/analogjs-demo/vite.config.ts
  apps/course-platform-analog/vite.config.ts
Due: npx eslint --fix, npx nx format:write --files, npx stylelint --fix

chore: fix
  libs/course-client/feature/src/lib/update-password/update-password.component.ts
Due: npx eslint --fix, npx nx format:write --files

Update password2 (#162)
  apps/analogjs-demo/analogjs-demo-e2e/.eslintrc.json
  apps/analogjs-demo/analogjs-demo-e2e/cypress.config.ts
  apps/analogjs-demo/analogjs-demo-e2e/project.json
  apps/analogjs-demo/analogjs-demo-e2e/src/e2e/app.cy.ts
  apps/analogjs-demo/analogjs-demo-e2e/src/fixtures/example.json
  apps/analogjs-demo/analogjs-demo-e2e/src/support/app.po.ts
  apps/analogjs-demo/analogjs-demo-e2e/src/support/commands.ts
  apps/analogjs-demo/analogjs-demo-e2e/src/support/e2e.ts
  apps/analogjs-demo/analogjs-demo-e2e/tsconfig.json
  apps/analogjs-demo/analogjs-demo/.eslintrc.json
  apps/analogjs-demo/analogjs-demo/index.html
  apps/analogjs-demo/analogjs-demo/jest.config.ts
  apps/analogjs-demo/analogjs-demo/package.json
  apps/analogjs-demo/analogjs-demo/project.json
  apps/analogjs-demo/analogjs-demo/public/favicon.ico
  apps/analogjs-demo/analogjs-demo/src/app/app.component.html
  apps/analogjs-demo/analogjs-demo/src/app/app.component.scss
  apps/analogjs-demo/analogjs-demo/src/app/app.component.ts
  apps/analogjs-demo/analogjs-demo/src/app/app.config.server.ts
  apps/analogjs-demo/analogjs-demo/src/app/app.config.ts
  apps/analogjs-demo/analogjs-demo/src/app/app.routes.ts
  apps/analogjs-demo/analogjs-demo/src/app/nx-welcome.component.ts
  apps/analogjs-demo/analogjs-demo/src/main.server.ts
  apps/analogjs-demo/analogjs-demo/src/main.ts
  apps/analogjs-demo/analogjs-demo/src/server/routes/api/v1/hello.ts
  apps/analogjs-demo/analogjs-demo/src/styles.scss
  apps/analogjs-demo/analogjs-demo/src/test-setup.ts
  apps/analogjs-demo/analogjs-demo/tsconfig.app.json
  apps/analogjs-demo/analogjs-demo/tsconfig.editor.json
  apps/analogjs-demo/analogjs-demo/tsconfig.json
  apps/analogjs-demo/analogjs-demo/tsconfig.spec.json
  apps/analogjs-demo/analogjs-demo/vite.config.ts
  apps/course-platform-analog/src/app/pages/reset-password.page.ts
  apps/course-platform-analog/src/app/pages/update-password.page.ts
  apps/course-platform-analog/vite.config.ts
  libs/course-client/feature/src/lib/index.ts
  libs/course-client/feature/src/lib/update-password/update-password.component.scss
  libs/course-client/feature/src/lib/update-password/update-password.component.ts
  libs/shared/auth/domain/src/lib/auth/services/auth-sb.service.ts
Due: npx eslint --fix, npx nx format:write --files, npx stylelint --fix

chore: log has params
  libs/course-client/feature/src/lib/update-password/update-password.component.ts
Due: npx eslint --fix, npx nx format:write --files

Update password2 (#163)
  libs/course-client/feature/src/lib/update-password/update-password.component.ts
Due: npx eslint --fix, npx nx format:write --files

Path conditions:
  npx eslint --fix: any of: *.ts
  npx nx format:write --files: any of: *
  npx stylelint --fix: any of: *.scss
