Repository lydemann/course-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx nx format:write --files, npx stylelint --fix

chore: courses are working
  apps/course-platform/src/app/app.component.ts
  apps/course-platform/src/app/app.config.ts
  apps/course-platform/src/app/interceptors/cookie.interceptor.ts
  apps/course-platform/src/app/pages/(home).page.ts
  apps/course-platform/src/app/pages/courses.page.ts
  apps/course-platform/src/app/pages/login/(login).page.ts
  apps/course-platform/src/main.server.ts
  libs/course-client-lib/shared/domain/src/auth/redirect-if-authenticated.service.ts
  libs/course-client-lib/shared/domain/src/auth/redirect-if-logged-out.service.ts
  libs/shared/auth/domain/src/lib/auth/set-token.interceptor.ts
  libs/shared/domain/src/resources/course-resources.service.ts
  libs/shared/domain/src/school-id/school-id.service.ts
Due: npx eslint --fix, npx nx format:write --files

feat: courses page with client hydration
  apps/course-platform/src/app/app.config.ts
  apps/course-platform/src/app/pages/(home).page.ts
  apps/course-platform/src/app/pages/courses.page.ts
  apps/course-platform/src/app/pages/login/(login).page.ts
  apps/course-platform/src/main.server.ts
  apps/course-platform/tsconfig.json
  apps/course-platform/vite.config.ts
  apps/course-service/src/app/user/user-service.ts
  libs/course-client/feature/src/lib/app.routing.ts
  libs/course-client/feature/src/lib/course/some.components.ts
  libs/course-client/shared/domain/src/auth/index.ts
  libs/course-client/shared/domain/src/auth/redirect-if-logged-in-server.guard.ts
  libs/course-client/shared/domain/src/auth/redirect-if-logged-in.service.ts
  libs/course-client/shared/domain/src/auth/redirect-if-logged-out-server.guard.ts
  libs/course-client/shared/domain/src/index.ts
  libs/course-client/shared/domain/tsconfig.lib.json
  libs/shared/auth/domain/src/index.ts
  libs/shared/auth/domain/src/lib/auth/auth-server.guard.ts
  libs/shared/auth/domain/src/lib/auth/auth-server.interceptor.ts
  libs/shared/auth/domain/src/lib/auth/user-server.service.ts
  libs/shared/auth/domain/src/lib/auth/user.service.ts
  libs/shared/auth/domain/tsconfig.json
  libs/shared/domain/src/resources/course-resources.service.ts
  libs/shared/ssr/domain/src/lib/server-tokens.ts
  package.json
  yarn.lock
Due: npx eslint --fix, npx nx format:write --files

feat: make user service work ssr
  libs/shared/auth/domain/src/lib/auth/user-server.service.ts
  libs/shared/auth/domain/src/lib/auth/user.service.ts
Due: npx eslint --fix, npx nx format:write --files

chore: move to ssr lib
  apps/course-platform/src/app/app.config.ts
  libs/shared/auth/domain/src/lib/auth/auth-server.interceptor.ts
  libs/shared/ssr/domain/src/index.ts
  libs/shared/ssr/domain/src/lib/interceptors/cookie.interceptor.ts
Due: npx eslint --fix, npx nx format:write --files

feat: cache post requests
  apps/course-platform/src/app/app.config.ts
  libs/shared/ssr/domain/src/lib/ssr-checkts.ts
Due: npx eslint --fix, npx nx format:write --files

style: fix tailwind style
  apps/course-client/src/bootstrap.ts
  apps/course-platform/postcss.config.js
  apps/course-platform/src/app/app.config.ts
  apps/course-platform/src/app/pages/(home).page.ts
  apps/course-platform/src/app/pages/courses.[courseId].page.ts
  apps/course-platform/tailwind.config.js
  jest.config.ts
  libs/course-admin/feature/src/lib/course-admin.routing.ts
  libs/course-admin/feature/src/lib/lesson-admin/lesson-admin.routing.ts
  libs/course-admin/feature/src/lib/section-admin/section-admin.routing.ts
  libs/course-admin/login/feature/src/lib/login.component.ts
  libs/course-admin/settings/feature/src/lib/tabs/profile/profile.component.ts
  libs/course-admin/shared/domain/src/lib/auth/redirect-if-authenticated.service.ts
  libs/course-admin/shell/src/lib/app.routing.ts
  libs/course-admin/shell/src/lib/entry.module.ts
  libs/course-admin/shell/src/lib/layout/topbar/topbar.component.ts
  libs/course-client/feature/src/lib/courses/courses.component.ts
  libs/course-client/feature/src/lib/forgot-password/forgot-password.component.spec.ts
  libs/course-client/feature/src/lib/forgot-password/forgot-password.component.ts
  libs/course-client/feature/src/lib/login/login.component.ts
  libs/course-client/feature/src/lib/profile/profile.component.ts
  libs/course-client/feature/src/lib/redirect-to-course.resolver.ts
  libs/course-client/shared/domain/src/auth/redirect-if-logged-in-server.guard.ts
  libs/course-client/shared/domain/src/auth/redirect-if-logged-in.service.ts
  libs/course-client/shared/domain/src/auth/redirect-if-logged-out-server.guard.ts
  libs/course-client/shared/domain/src/auth/redirect-if-logged-out.service.ts
  libs/course-client/shared/domain/src/course/state/course.effects.spec.ts
  libs/course-client/shared/domain/src/course/state/course.effects.ts
  libs/course-client/shared/domain/src/profile/profile.service.ts
  libs/course-client/shared/ui/src/layout/topbar/topbar.component.ts
  libs/shared/auth/domain/project.json
  libs/shared/domain/src/resources/course-resources.service.ts
  package.json
  tsconfig.base.json
  yarn.lock
Due: npx eslint --fix, npx nx format:write --files

style: fix courses styling
  libs/course-client/feature/src/lib/courses/courses.component.ts
Due: npx eslint --fix, npx nx format:write --files

style: setup tailwindcss for apps
  apps/course-admin/postcss.config.js
  apps/course-admin/src/styles.scss
  apps/course-admin/tailwind.config.js
  apps/course-client/postcss.config.js
  apps/course-client/src/styles.scss
  apps/course-client/tailwind.config.js
Due: npx nx format:write --files, npx stylelint --fix

feat: browser only
  libs/course-client/feature/src/lib/course/components/course-sidebar/course-sidebar.component.ts
  libs/shared/ssr/ui/.eslintrc.json
  libs/shared/ssr/ui/README.md
  libs/shared/ssr/ui/jest.config.ts
  libs/shared/ssr/ui/ng-package.json
  libs/shared/ssr/ui/package.json
  libs/shared/ssr/ui/project.json
  libs/shared/ssr/ui/src/index.ts
  libs/shared/ssr/ui/src/lib/directives/browser-only.directive.ts
  libs/shared/ssr/ui/src/test-setup.ts
  libs/shared/ssr/ui/tailwind.config.js
  libs/shared/ssr/ui/tsconfig.json
  libs/shared/ssr/ui/tsconfig.lib.json
  libs/shared/ssr/ui/tsconfig.lib.prod.json
  libs/shared/ssr/ui/tsconfig.spec.json
  package.json
  tsconfig.base.json
  yarn.lock
Due: npx eslint --fix, npx nx format:write --files

style: lessons completed icon center
  libs/course-client/feature/src/lib/course/components/course-sidebar/section/section-lessons.component.ts
Due: npx eslint --fix, npx nx format:write --files

chore: action items
  apps/course-platform/src/app/pages/(home).page.ts
  apps/course-platform/src/app/pages/courses.[courseId].[selectedSectionId]/action-items.page.ts
  apps/course-platform/src/app/pages/courses.[courseId].[selectedSectionId]/questions.page.ts
  libs/course-client/feature/src/lib/course/containers/action-items/action-items.component.ts
  libs/course-client/feature/src/lib/course/containers/action-items/action-items.module.ts
  libs/course-client/feature/src/lib/course/containers/questions/questions.component.ts
  libs/course-client/feature/src/lib/course/containers/questions/questions.module.ts
  libs/course-client/feature/src/lib/course/course-layout.component.ts
  libs/course-client/feature/src/lib/course/course.routing.ts
  libs/course-client/feature/src/lib/index.ts
Due: npx eslint --fix, npx nx format:write --files

perf: set cache headers
  apps/course-platform/src/main.server.ts
  libs/shared/auth/domain/src/lib/auth/user-server.service.ts
Due: npx eslint --fix, npx nx format:write --files

chore: set cookie
  apps/course-platform/src/app/pages/courses.[courseId].[selectedSectionId].page.ts
  apps/course-platform/src/app/pages/courses.[courseId].page.ts
  apps/course-platform/src/main.server.ts
  libs/course-client/shared/domain/src/auth/redirect-if-logged-in-server.guard.ts
  libs/course-client/shared/domain/src/auth/redirect-if-logged-out-server.guard.ts
  libs/shared/auth/domain/src/lib/auth/auth-server.interceptor.ts
  libs/shared/auth/domain/src/lib/auth/user.service.ts
Due: npx eslint --fix, npx nx format:write --files

style: fix login
  apps/course-platform/src/main.server.ts
  libs/course-client/feature/src/lib/login/login.component.scss
  libs/course-client/shared/domain/src/auth/redirect-if-logged-in-server.guard.ts
  libs/course-client/shared/domain/src/auth/redirect-if-logged-out-server.guard.ts
  libs/shared/auth/domain/src/lib/auth/auth-server.interceptor.ts
  libs/shared/auth/domain/src/lib/auth/user.service.ts
Due: npx eslint --fix, npx nx format:write --files, npx stylelint --fix

chore: build
  apps/course-platform/src/.firebaserc
  apps/course-platform/src/app/pages/courses.[courseId].page.ts
  apps/course-platform/src/firebase.json
  libs/course-admin/create-user/feature/src/lib/create-user.component.ts
  libs/course-admin/feature/src/lib/components/create-lesson-modal/create-lesson-modal.component.ts
  libs/course-admin/feature/src/lib/components/create-section-modal/create-section-modal.component.ts
  libs/course-admin/feature/src/lib/course-admin.component.ts
  libs/course-admin/feature/src/lib/course-styling/course-styling.component.ts
  libs/course-admin/feature/src/lib/courses/course-modal/course-modal/course-modal.component.ts
  libs/course-admin/feature/src/lib/courses/courses.component.ts
  libs/course-admin/feature/src/lib/section-admin/section-admin.component.ts
  libs/course-admin/login/feature/src/lib/login.component.ts
  libs/course-admin/settings/feature/src/lib/tabs/custom-domain/custom-domain.component.ts
  libs/course-client/feature/src/lib/course/components/course-sidebar/course-sidebar.component.ts
  libs/course-client/feature/src/lib/course/components/course-sidebar/section/section-lessons.component.ts
  libs/course-client/feature/src/lib/course/containers/action-items/action-items.component.ts
  libs/course-client/feature/src/lib/login/login.component.ts
  libs/course-client/feature/src/lib/profile/profile.component.ts
  libs/course-client/feature/src/lib/redirect-to-course.resolver.ts
  libs/shared/auth/domain/src/lib/auth/auth-server.interceptor.ts
  libs/shared/domain/src/resources/course-resources.service.ts
  libs/shared/ngrx-universal-rehydrate/project.json
  libs/shared/ssr/ui/project.json
  libs/shared/util/util-feature-toggle/src/lib/directives/feature-toggle.directive.ts
  libs/shared/util/util-feature-toggle/src/lib/guards/feature-toggle-can-activate.guard.ts
  libs/shared/util/util-feature-toggle/src/lib/guards/feature-toggle-can-load.guard.ts
  libs/shared/util/util-feature-toggle/src/lib/preload-strategy/feature-toggle-preload-strategy.ts
Due: npx eslint --fix, npx nx format:write --files

chore: setup firebase
  apps/course-platform/src/firebase.json
Due: npx nx format:write --files

chore: add yarn
  apps/course-platform-analog/.firebaserc
  apps/course-platform-analog/firebase.json
  apps/course-platform-analog/src/firebase.json
  libs/course-admin/feature/src/lib/components/create-lesson-modal/create-lesson-modal.component.ts
  libs/course-admin/feature/src/lib/components/create-section-modal/create-section-modal.component.ts
  libs/course-client/feature/src/lib/course/components/course-sidebar/course-sidebar.component.ts
  libs/course-client/feature/src/lib/course/components/course-sidebar/section/section-lessons.component.ts
  libs/course-client/feature/src/lib/profile/profile.component.ts
  package.json
  yarn.lock
Due: npx eslint --fix, npx nx format:write --files

chore: build is working
  package.json
  yarn.lock
Due: npx nx format:write --files

fix: build
  apps/course-platform-analog/vite.config.ts
  libs/course-client/shared/domain/src/profile/profile.service.ts
  package.json
  yarn.lock
Due: npx eslint --fix, npx nx format:write --files

fix: deploy
  apps/course-platform-analog/src/main.server.ts
  apps/course-platform-analog/vite.config.ts
  libs/shared/auth/domain/src/lib/auth/user-server.service.ts
Due: npx eslint --fix, npx nx format:write --files

fix: deploy service
  apps/course-platform-analog/src/app/app.config.ts
  apps/course-platform-analog/src/firebase.json
  apps/course-platform-analog/tsconfig.json
  apps/course-platform-analog/vite.config.ts
  libs/shared/auth/domain/src/lib/auth/user-server.service.ts
  package.json
  webpack.node.config.js
Due: npx eslint --fix, npx nx format:write --files

fix: cookies in firebase
  apps/course-platform-analog/.firebaserc
  apps/course-platform-analog/src/app/app.config.ts
  apps/course-platform-analog/src/firebase.json
  apps/course-platform-analog/vite.config.ts
  libs/shared/auth/domain/src/lib/auth/auth-server.interceptor.ts
  libs/shared/auth/domain/src/lib/auth/user-server.service.ts
  libs/shared/auth/domain/src/lib/auth/user.service.ts
  package.json
Due: npx eslint --fix, npx nx format:write --files

fix: dev build
  apps/course-platform-analog/src/main.server.ts
  apps/course-platform-analog/tsconfig.json
  apps/course-platform-analog/vite.config.ts
  package.json
  yarn.lock
Due: npx eslint --fix, npx nx format:write --files

fix: build
  apps/course-admin/project.json
  apps/course-admin/src/styles.scss
  apps/course-admin/tsconfig.app.json
  apps/course-client/project.json
  apps/course-client/src/styles.scss
  apps/course-client/tsconfig.app.json
  libs/course-admin/feature/src/lib/courses/courses.component.html
Due: npx nx format:write --files, npx stylelint --fix

chore: remove webpack
  apps/course-admin/project.json
  apps/course-client/project.json
Due: npx nx format:write --files

test: remove analog tests
  apps/course-platform-analog/project.json
Due: npx nx format:write --files

fix: build
  apps/course-client/project.json
  apps/course-platform-analog/src/main.server.ts
  apps/course-platform-analog/tsconfig.app.json
  apps/course-platform-analog/tsconfig.json
  apps/course-platform-analog/vite.config.ts
  libs/shared/auth/domain/src/lib/auth/user-server.service.ts
  libs/shared/auth/domain/src/lib/auth/user.service.ts
  package.json
  tsconfig.base.json
  yarn.lock
Due: npx eslint --fix, npx nx format:write --files

build: fix
  apps/course-admin/project.json
  apps/course-client/project.json
  apps/course-platform-analog/src/main.server.ts
  esbuild-polyfills-node.js
  package.json
  yarn.lock
Due: npx eslint --fix, npx nx format:write --files

chore: fix build
  apps/course-platform-analog/src/main.server.ts
Due: npx eslint --fix, npx nx format:write --files

ci: fix build
  tools/pipelines/dte-pipeline.yml
  tools/pipelines/parallel-pipeline.yml
  tools/pipelines/serial-pipeline.yml
Due: npx nx format:write --files

ci: fix build
  tools/pipelines/dte-pipeline.yml
Due: npx nx format:write --files

Fix build memory (#108)
  tools/pipelines/dte-pipeline.yml
Due: npx nx format:write --files

fix: create user
  libs/course-admin/create-user/feature/src/index.ts
  libs/course-admin/create-user/feature/src/lib/create-user.component.ts
  libs/course-admin/create-user/feature/src/lib/create-user.module.ts
  libs/course-admin/create-user/feature/src/lib/create-user.routing.ts
  libs/course-admin/shared/ui/src/lib/shared.module.ts
  libs/course-admin/shell/src/lib/app.routing.ts
  libs/course-client/feature/src/lib/app.routing.ts
  libs/course-client/shared/domain/src/auth/redirect-if-logged-in.service.ts
  libs/course-client/shared/domain/src/auth/redirect-if-logged-out.service.ts
  libs/shared/auth/domain/src/lib/auth/user.service.ts
Due: npx eslint --fix, npx nx format:write --files

fix: typing
  libs/shared/auth/domain/src/lib/auth/user.service.ts
Due: npx eslint --fix, npx nx format:write --files

Path conditions:
  npx eslint --fix: any of: *.ts
  npx nx format:write --files: any of: *
  npx stylelint --fix: any of: *.scss
