Repository lydemann/course-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx nx format:write --files, npx stylelint --fix

.lintstagedrc:

{
	"*.ts": [
		"npx eslint --fix"
	],
	"*": [
        "npx nx format:write --files"
    ],
	"*.scss": [
		"npx stylelint --fix"
	]
}

chore: created new pipelines (#92)
  tools/pipelines/dte-pipeline.yml
  tools/pipelines/prepare-release.yml
  tools/pipelines/pull-request.yaml
  tools/pipelines/scripts/build-affected.ps1
  tools/pipelines/scripts/create-affected-apps-txt.ps1
  tools/pipelines/scripts/read-and-tag-affected-apps-in-artifact.ps1
  tools/pipelines/scripts/set-last-merged-pr-commit-sha.js
  tools/pipelines/scripts/tags-for-affected-apps.ps1
  tools/pipelines/simple-pipeline.yml
  tools/pipelines/templates/npm-setup.yml
  tools/pipelines/templates/publish-artifacts.yml
Due: npx nx format:write --files

ci: fix dte
  tools/pipelines/dte-pipeline.yml
Due: npx nx format:write --files

Feature/new pipelines (#93)
  tools/pipelines/dte-pipeline.yml
Due: npx nx format:write --files

ci: dte
  tools/pipelines/dte-pipeline.yml
Due: npx nx format:write --files

Feature/ci dte (#94)
  tools/pipelines/dte-pipeline.yml
Due: npx nx format:write --files

ci: fix
  .husky/post-merge
Due: npx nx format:write --files

chore: default branch
  .github/workflows/automerge.yml
  .github/workflows/merge-queue.yml
  nx.json
  package.json
  tools/pipelines/dte-pipeline.yml
  tools/pipelines/simple-pipeline.yml
Due: npx nx format:write --files

Feature/ci dte (#95)
  .github/workflows/automerge.yml
  .github/workflows/merge-queue.yml
  .husky/post-merge
  nx.json
  package.json
  tools/pipelines/dte-pipeline.yml
  tools/pipelines/simple-pipeline.yml
Due: npx nx format:write --files

chore: fix lint
  apps/course-client/src/app/app.module.ts
Due: npx eslint --fix, npx nx format:write --files

chore: fix build
  libs/course-admin/feature/src/index.ts
  libs/course-admin/shell/src/lib/entry.module.ts
Due: npx eslint --fix, npx nx format:write --files

ci: add yarn cache
  tools/pipelines/dte-pipeline.yml
Due: npx nx format:write --files

ci: fix
  tools/pipelines/dte-pipeline.yml
Due: npx nx format:write --files

Feature/ci dte (#97)
  apps/course-client/src/app/app.module.ts
  libs/course-admin/feature/src/index.ts
  libs/course-admin/shell/src/lib/entry.module.ts
  tools/pipelines/dte-pipeline.yml
Due: npx eslint --fix, npx nx format:write --files

ci: dte publish artifact
  tools/pipelines/dte-pipeline.yml
Due: npx nx format:write --files

ci: parallel pipeline
  tools/pipelines/parallel-pipeline.yml
Due: npx nx format:write --files

chore: tools shared globals
  nx.json
Due: npx nx format:write --files

Feature/ci dte (#98)
  nx.json
  tools/pipelines/dte-pipeline.yml
  tools/pipelines/parallel-pipeline.yml
Due: npx nx format:write --files

ci: test without cache
  nx.json
Due: npx nx format:write --files

fix: prod build
  apps/course-admin/project.json
  apps/course-client/project.json
Due: npx nx format:write --files

ci: enable cache
  nx.json
Due: npx nx format:write --files

Feature/fix prod build (#100)
  apps/course-admin/project.json
  apps/course-client/project.json
Due: npx nx format:write --files

test: no cache
  tools/pipelines/dte-pipeline.yml
  tools/pipelines/parallel-pipeline.yml
  tools/pipelines/simple-pipeline.yml
Due: npx nx format:write --files

chore: update to angular 17
  .gitignore
  .prettierignore
  apps/course-admin-e2e/project.json
  apps/course-admin/project.json
  apps/course-admin/src/polyfills.ts
  apps/course-client-e2e/project.json
  apps/course-client/project.json
  apps/course-client/src/polyfills.ts
  apps/course-service/project.json
  libs/course-admin/create-user/feature/project.json
  libs/course-admin/feature/project.json
  libs/course-admin/login/feature/project.json
  libs/course-admin/settings/feature/project.json
  libs/course-admin/shared/domain/project.json
  libs/course-admin/shared/ui/project.json
  libs/course-admin/shell/project.json
  libs/course-client-lib/project.json
  libs/course-client-lib/src/environments/environment.ts
  libs/course-client-lib/src/lib/course-client-lib.module.ts
  libs/shared/auth/domain/project.json
  libs/shared/domain/project.json
  libs/shared/interfaces/project.json
  libs/shared/ui/src/polyfills.ts
  libs/shared/ui/src/test.ts
  libs/shared/util/util-feature-toggle/project.json
  libs/shared/util/util-feature-toggle/src/test.ts
  migrations.json
  nx.json
  package.json
  tools/pipelines/serial-pipeline.yml
  webpack.node.config.js
  yarn.lock
Due: npx eslint --fix, npx nx format:write --files

test: fix
  apps/course-client/jest.config.ts
  apps/course-client/src/app/course/resolvers/course.resolver.spec.ts
  apps/course-client/src/test-setup.ts
  libs/course-client-lib/src/test-setup.ts
  libs/shared/auth/domain/src/lib/auth/user.service.ts
  libs/shared/auth/domain/src/test-setup.ts
  libs/shared/domain/src/test-setup.ts
  nx.json
  package.json
  test-setup.base.ts
  tsconfig.base.json
  yarn.lock
Due: npx eslint --fix, npx nx format:write --files

chore: lint fix
  apps/course-client/src/app/course/course.component.ts
  apps/course-client/src/app/redirect-to-course.resolver.ts
  apps/course-client/src/bootstrap.ts
  apps/course-client/typings.d.ts
  apps/course-service/src/app/section/section-resolvers.ts
  apps/course-service/src/app/server.ts
  apps/course-service/src/app/user/user-service.ts
  apps/course-service/src/utils/create-resolver.ts
  libs/course-admin/feature/src/lib/lesson-admin/lesson-admin.resolver.ts
  libs/course-admin/feature/src/lib/section-admin/section-admin.resolver.ts
  libs/course-admin/shared/domain/src/lib/course-admin-facade.service.ts
  libs/course-client-lib/src/lib/course/course-facade.service.ts
  libs/course-client-lib/typings.d.ts
  libs/shared/auth/domain/src/lib/auth/auth.service.ts
  libs/shared/auth/domain/src/lib/auth/set-token.interceptor.ts
  libs/shared/domain/src/resources/course-resources.service.ts
  libs/shared/domain/src/resources/graphql/graphql-helpers.ts
  libs/shared/domain/src/resources/graphql/graphql.module.ts
  libs/shared/util/util-feature-toggle/src/lib/directives/feature-toggle.directive.ts
  libs/shared/util/util-feature-toggle/src/lib/preload-strategy/feature-toggle-preload-strategy.ts
  libs/shared/util/util-feature-toggle/src/lib/services/feature-toggle.service.ts
Due: npx eslint --fix, npx nx format:write --files

fix: add nx cache
  tools/pipelines/dte-pipeline.yml
  tools/pipelines/parallel-pipeline.yml
  tools/pipelines/serial-pipeline.yml
Due: npx nx format:write --files

feat: added analog app
  .eslintrc.json
  .lintstagedrc
  apps/course-platform/.eslintrc.json
  apps/course-platform/index.html
  apps/course-platform/postcss.config.js
  apps/course-platform/project.json
  apps/course-platform/src/app/app.component.spec.ts
  apps/course-platform/src/app/app.component.ts
  apps/course-platform/src/app/app.config.server.ts
  apps/course-platform/src/app/app.config.ts
  apps/course-platform/src/app/pages/(home).page.ts
  apps/course-platform/src/favicon.ico
  apps/course-platform/src/main.server.ts
  apps/course-platform/src/main.ts
  apps/course-platform/src/public/assets/.gitkeep
  apps/course-platform/src/public/assets/analog.svg
  apps/course-platform/src/server/routes/v1/hello.ts
  apps/course-platform/src/styles.css
  apps/course-platform/src/test-setup.ts
  apps/course-platform/src/vite-env.d.ts
  apps/course-platform/tailwind.config.js
  apps/course-platform/tsconfig.app.json
  apps/course-platform/tsconfig.editor.json
  apps/course-platform/tsconfig.json
  apps/course-platform/tsconfig.spec.json
  apps/course-platform/vite.config.ts
  migrations.json
  package.json
  yarn.lock
Due: npx eslint --fix, npx nx format:write --files

ci: enable cache
  tools/pipelines/dte-pipeline.yml
  tools/pipelines/parallel-pipeline.yml
  tools/pipelines/serial-pipeline.yml
Due: npx nx format:write --files

ci: enable cache (#105)
  tools/pipelines/dte-pipeline.yml
  tools/pipelines/parallel-pipeline.yml
  tools/pipelines/serial-pipeline.yml
Due: npx nx format:write --files

fix: admin site
  apps/course-client/module-federation.config.js
  apps/course-client/src/app/app.routing.ts
  package.json
  tsconfig.base.json
  yarn.lock
Due: npx eslint --fix, npx nx format:write --files

fix: set resources
  libs/course-admin/feature/src/lib/lesson-admin/lesson-admin-form/lesson-admin-form.component.html
Due: npx nx format:write --files

fix: guid
  libs/course-admin/feature/src/lib/lesson-admin/lesson-admin-form/lesson-admin-form.component.ts
  package.json
  yarn.lock
Due: npx eslint --fix, npx nx format:write --files

Feature/pipeline fix (#106)
  apps/course-client/module-federation.config.js
  apps/course-client/src/app/app.routing.ts
  libs/course-admin/feature/src/lib/lesson-admin/lesson-admin-form/lesson-admin-form.component.html
  libs/course-admin/feature/src/lib/lesson-admin/lesson-admin-form/lesson-admin-form.component.ts
  package.json
  tsconfig.base.json
  yarn.lock
Due: npx eslint --fix, npx nx format:write --files

feat: fix login
  apps/course-client/src/app/app.routing.ts
  apps/course-client/src/app/login/login.component.ts
  apps/course-client/src/app/login/login.module.ts
  apps/course-client/src/app/login/login.routing.ts
Due: npx eslint --fix, npx nx format:write --files

style: fix
  apps/course-platform/.env
  apps/course-platform/src/app/app.config.ts
  apps/course-platform/src/styles.scss
  apps/course-platform/tailwind.config.js
  libs/course-client-lib/shared/ui/src/layout/topbar/topbar.component.html
  libs/shared/ui/styles/src/lib/helpers/colors.scss
  libs/shared/ui/styles/src/lib/themes.scss
Due: npx eslint --fix, npx nx format:write --files, npx stylelint --fix
