Repository lydemann/course-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx nx format:write --files, npx stylelint --fix

.lintstagedrc:

{
	"*.ts": [
		"npx eslint --fix"
	],
	"*": [
        "npx nx format:write --files"
    ],
	"*.scss": [
		"npx stylelint --fix"
	]
}

style: fix
  apps/course-platform-analog/src/styles.scss
  libs/course-client/feature/src/lib/course/components/course-sidebar/section/section-lessons.component.ts
Due: npx eslint --fix, npx nx format:write --files, npx stylelint --fix

chore: upgrade (#132)
  .gitignore
  apps/course-platform-analog/package.json
  apps/course-platform-analog/postcss.config.cjs
  apps/course-platform-analog/project.json
  apps/course-platform-analog/src/app/app.config.ts
  apps/course-platform-analog/src/main.server.ts
  apps/course-platform-analog/src/styles.scss
  apps/course-platform-analog/vite.config.ts
  libs/course-client/feature/src/lib/course/components/course-sidebar/section/section-lessons.component.ts
  libs/course-client/shared/domain/src/auth/redirect-if-logged-in-server.guard.ts
  libs/course-client/shared/domain/src/auth/redirect-if-logged-out-server.guard.ts
  libs/shared/auth/domain/src/lib/auth/auth.interceptor.ts
  libs/shared/auth/domain/src/lib/auth/user-server.service.ts
  libs/shared/auth/domain/src/lib/auth/user.service.ts
  libs/shared/ui/styles/project.json
  libs/shared/ui/styles/src/lib/global-styling.scss
  libs/shared/ui/styles/src/lib/global/color-helpers.scss
  libs/shared/ui/styles/src/lib/global/positioning.scss
  libs/shared/ui/styles/src/lib/global/spinner.scss
  libs/shared/ui/styles/src/lib/helpers/colors.scss
  libs/shared/ui/styles/src/lib/helpers/functions.scss
  libs/shared/ui/styles/src/lib/helpers/variables.scss
  libs/shared/ui/styles/src/lib/theme.service.spec.ts
  libs/shared/ui/styles/src/lib/theme.service.ts
  libs/shared/ui/styles/src/lib/themes.scss
  libs/shared/ui/styles/src/lib/themes/_palette.scss
  libs/shared/ui/styles/src/lib/themes/dark-theme.scss
  libs/shared/ui/styles/src/lib/themes/light-theme.scss
  libs/shared/ui/styles/src/lib/themes/theme-common.scss
  libs/shared/ui/styles/src/lib/themesm3-theme.scss
  package.json
  yarn.lock
Due: npx eslint --fix, npx nx format:write --files, npx stylelint --fix

feat: trpc working
  .gitignore
  apps/course-platform-analog/.env
  apps/course-platform-analog/src/app/app.config.ts
  apps/course-platform-analog/src/server/routes/trpc/[trpc].ts
  apps/course-platform-analog/vite.config.ts
  libs/course-client/shared/domain/src/auth/redirect-if-logged-in-server.guard.ts
  libs/course-client/shared/domain/src/auth/redirect-if-logged-in.service.ts
  libs/course-client/shared/domain/src/auth/redirect-if-logged-out-server.guard.ts
  libs/course-client/shared/domain/src/auth/redirect-if-logged-out.service.ts
  libs/course-client/shared/domain/src/course/course-facade.service.ts
  libs/shared/auth/domain/src/lib/auth/user-server.service.ts
  libs/shared/domain/src/resources/course-resources-trpc.service.ts
  libs/shared/domain/src/resources/course-resources.module.ts
  libs/shared/domain/src/resources/index.ts
  libs/shared/domain/src/resources/trpc/context.ts
  libs/shared/domain/src/resources/trpc/drizzle/db-schema.ts
  libs/shared/domain/src/resources/trpc/drizzle/db.ts
  libs/shared/domain/src/resources/trpc/drizzle/drizzle-sample.config.ts
  libs/shared/domain/src/resources/trpc/drizzle/drizzle.config.ts
  libs/shared/domain/src/resources/trpc/drizzle/drizzle/meta/_journal.json
  libs/shared/domain/src/resources/trpc/routers/index.ts
  libs/shared/domain/src/resources/trpc/trpc-client.ts
  libs/shared/domain/trpc-server/src/index.ts
  libs/shared/domain/trpc-server/src/lib/context.ts
  libs/shared/domain/trpc-server/src/lib/drizzle/db-schema.ts
  libs/shared/domain/trpc-server/src/lib/routers/course-router.ts
  libs/shared/domain/trpc-server/src/lib/routers/index.ts
  libs/shared/domain/trpc-server/src/lib/routers/sections-router.ts
  libs/shared/domain/trpc-server/src/lib/trpc.ts
  libs/shared/domain/trpc-server/src/lib/trpc/context.ts
  libs/shared/domain/trpc-server/src/lib/trpc/index.ts
  libs/shared/domain/trpc-server/src/lib/trpc/routers/course-router.ts
  libs/shared/domain/trpc-server/src/lib/trpc/routers/index.ts
  libs/shared/domain/trpc-server/src/lib/trpc/routers/sections-router.ts
  libs/shared/domain/trpc-server/src/lib/trpc/routers/utils/protected-procedure.ts
  libs/shared/domain/trpc-server/src/lib/trpc/trpc.ts
  package.json
  yarn.lock
Due: npx eslint --fix, npx nx format:write --files

chore: setup supabase auth
  apps/course-client/src/main.ts
  apps/course-platform-analog/.env
  apps/course-platform-analog/src/app/app.component.ts
  apps/course-platform-analog/src/app/app.config.ts
  libs/course-admin/shell/src/lib/entry.module.ts
  libs/course-client/shared/domain/src/auth/redirect-if-logged-out-server.guard.ts
  libs/shared/auth/domain/src/index.ts
  libs/shared/auth/domain/src/lib/auth/auth-sb.service.ts
  libs/shared/auth/domain/src/lib/auth/user-server.service.ts
  libs/shared/auth/domain/src/lib/shared-auth-domain.module.spec.ts
  libs/shared/auth/domain/src/lib/shared-auth-domain.module.ts
  libs/shared/domain/src/resources/trpc/trpc-client.ts
  libs/shared/domain/trpc-server/src/lib/trpc/context.ts
  package.json
  yarn.lock
Due: npx eslint --fix, npx nx format:write --files

chore: enable sentry
  apps/course-platform-analog/src/app/app.config.ts
Due: npx eslint --fix, npx nx format:write --files

chore: use supabase auth
  .gitignore
  apps/course-platform-analog/src/app/app.component.ts
  apps/course-platform-analog/src/app/pages/courses.[courseId].[selectedSectionId].page.ts
  apps/course-platform-analog/src/app/pages/courses.[courseId].[selectedSectionId]/[selectedLessonId].page.ts
  apps/course-platform-analog/src/app/pages/courses.page.ts
  libs/course-client/feature/src/lib/login/login.component.ts
  libs/course-client/shared/domain/src/auth/auth.guard.ts
  libs/course-client/shared/domain/src/auth/redirect-if-logged-in-server.guard.ts
  libs/course-client/shared/domain/src/auth/redirect-if-logged-out-server.guard.ts
  libs/course-client/shared/domain/src/course/state/course.effects.ts
  libs/course-client/shared/domain/src/index.ts
  libs/course-client/shared/domain/tsconfig.lib.json
  libs/shared/auth/domain/src/index.ts
  libs/shared/auth/domain/src/lib/auth/auth-fb.guard.ts
  libs/shared/auth/domain/src/lib/auth/auth-sb.service.ts
  libs/shared/auth/domain/tsconfig.json
  libs/shared/domain/src/resources/course-resources-trpc.service.ts
  libs/shared/domain/src/resources/trpc/trpc-client.ts
  libs/shared/domain/trpc-server/src/lib/drizzle/db-schema.ts
  libs/shared/domain/trpc-server/src/lib/drizzle/db.ts
  libs/shared/domain/trpc-server/src/lib/drizzle/drizzle.config.ts
  libs/shared/domain/trpc-server/src/lib/trpc/routers/course-router.ts
Due: npx eslint --fix, npx nx format:write --files

chore: remove vitest types
  apps/course-platform-analog/tsconfig.editor.json
Due: npx nx format:write --files

fix: run analog app
  libs/course-client/feature/src/lib/login/login.component.ts
  libs/shared/auth/domain/src/lib/auth/auth-sb.service.ts
  libs/shared/domain/trpc-server/src/lib/trpc/context.ts
  package.json
Due: npx eslint --fix, npx nx format:write --files

feat: get sections
  apps/course-platform-analog/src/app/pages/(home).page.ts
  apps/course-platform-analog/src/app/pages/courses.[courseId].[selectedSectionId].page.ts
  apps/course-platform-analog/src/app/pages/courses.[courseId].[selectedSectionId]/[selectedLessonId].page.ts
  apps/course-platform-analog/src/app/pages/courses.page.ts
  apps/course-platform-analog/src/main.server.ts
  apps/course-service/src/app/section/section-resolvers.ts
  libs/course-client/feature/src/lib/course/containers/action-items/action-item/action-item.component.ts
  libs/course-client/feature/src/lib/course/containers/action-items/action-items.component.html
  libs/course-client/feature/src/lib/course/resolvers/course.resolver.ts
  libs/course-client/shared/domain/src/auth/auth.guard.ts
  libs/course-client/shared/domain/src/course/course-facade.service.ts
  libs/course-client/shared/domain/src/course/state/course.effects.ts
  libs/course-client/shared/domain/src/course/state/course.reducers.ts
  libs/shared/domain/src/resources/course-resources-trpc.service.ts
  libs/shared/domain/src/resources/course-resources.service.ts
  libs/shared/domain/trpc-server/src/lib/drizzle/db-schema.ts
  libs/shared/domain/trpc-server/src/lib/trpc/context.ts
  libs/shared/domain/trpc-server/src/lib/trpc/routers/default-action-items.ts
  libs/shared/domain/trpc-server/src/lib/trpc/routers/sections-router.ts
  package.json
  yarn.lock
Due: npx eslint --fix, npx nx format:write --files

style: action items
  .eslintrc.json
  .gitignore
  .prettierignore
  apps/course-platform-analog/tailwind.config.js
  libs/course-client/feature/src/lib/course/components/course-sidebar/course-sidebar.component.ts
  libs/course-client/feature/src/lib/course/components/course-sidebar/section/section-lessons.component.ts
  libs/course-client/feature/src/lib/course/containers/action-items/action-item/action-item.component.html
  libs/course-client/feature/src/lib/course/containers/action-items/action-item/action-item.component.scss
  libs/course-client/feature/src/lib/course/containers/action-items/action-item/action-item.component.ts
  libs/course-client/feature/src/lib/course/containers/action-items/action-items.component.html
  libs/course-client/shared/domain/src/course/course-facade.service.ts
  libs/course-client/shared/domain/src/course/state/course.actions.ts
  libs/course-client/shared/domain/src/course/state/course.effects.ts
  libs/course-client/shared/domain/src/course/state/course.reducers.ts
  libs/shared/auth/domain/src/lib/auth/auth-server.interceptor.ts
  libs/shared/domain/src/shared-data-access.module.ts
  libs/shared/domain/trpc-server/src/lib/drizzle/drizzle/meta/_journal.json
  libs/shared/domain/trpc-server/src/lib/trpc/routers/lessons-router.ts
  migrations.json
  nx.json
  package.json
  yarn.lock
Due: npx eslint --fix, npx nx format:write --files, npx stylelint --fix

feat: adding nuxtjs app
  .eslintrc.json
  .gitignore
  .vscode/extensions.json
  apps/course-platform-nuxt-e2e/.eslintrc.json
  apps/course-platform-nuxt-e2e/playwright.config.ts
  apps/course-platform-nuxt-e2e/project.json
  apps/course-platform-nuxt-e2e/src/example.spec.ts
  apps/course-platform-nuxt-e2e/tsconfig.json
  apps/course-platform-nuxt/.eslintrc.json
  apps/course-platform-nuxt/.npmrc
  apps/course-platform-nuxt/nuxt.config.ts
  apps/course-platform-nuxt/project.json
  apps/course-platform-nuxt/src/app.vue
  apps/course-platform-nuxt/src/assets/css/styles.css
  apps/course-platform-nuxt/src/components/NxWelcome.vue
  apps/course-platform-nuxt/src/pages/about.vue
  apps/course-platform-nuxt/src/pages/index.vue
  apps/course-platform-nuxt/src/public/.gitkeep
  apps/course-platform-nuxt/src/public/favicon.ico
  apps/course-platform-nuxt/src/server/api/greet.ts
  apps/course-platform-nuxt/src/server/tsconfig.json
  apps/course-platform-nuxt/tsconfig.app.json
  apps/course-platform-nuxt/tsconfig.json
  nx.json
  package.json
  yarn.lock
Due: npx eslint --fix, npx nx format:write --files

ci: deploy to vecel
  .gitignore
  apps/course-platform-nuxt/nuxt.config.ts
Due: npx eslint --fix, npx nx format:write --files

ci: update
  apps/course-platform-nuxt/src/pages/about.vue
Due: npx nx format:write --files

ci: build analog to vercel
  apps/course-platform-analog/.env
  apps/course-platform-analog/src/main.server.ts
  apps/course-platform-analog/vite.config.ts
  libs/shared/auth/domain/src/lib/auth/vite-env.d.ts
  libs/shared/domain/trpc-server/src/lib/trpc/routers/lessons-router.ts
Due: npx eslint --fix, npx nx format:write --files

chore: update
  package.json
  yarn.lock
Due: npx nx format:write --files

fix: env
  apps/course-platform-analog/tsconfig.app.json
  apps/course-platform-analog/vite.config.ts
  libs/shared/auth/domain/src/index.ts
  libs/shared/auth/domain/src/lib/auth/auth-client.ts
  libs/shared/auth/domain/src/lib/auth/auth-sb.service.ts
Due: npx eslint --fix, npx nx format:write --files

chore: remove .env
  apps/course-platform-analog/.env
Due: npx nx format:write --files

chore: add vercel config
  apps/course-platform-analog/.env.sample
  vercel.json
Due: npx nx format:write --files

ci: build fix
  nx.json
  package.json
  yarn.lock
Due: npx nx format:write --files

fix: load translations
  apps/course-platform-analog/src/app/app.config.ts
Due: npx eslint --fix, npx nx format:write --files

chore: remove versel config
  vercel.json
Due: npx nx format:write --files

chore: add versel config
  vercel.json
Due: npx nx format:write --files

chore: vite update
  apps/course-platform-analog/vite.config.ts
Due: npx eslint --fix, npx nx format:write --files

chore: enable ivy
  libs/shared/auth/domain/tsconfig.lib.prod.json
  libs/shared/ui/tsconfig.lib.prod.json
Due: npx nx format:write --files

chore: update
  libs/course-admin/shared/domain/src/lib/+state/sections-state.service.ts
  libs/course-admin/shared/domain/src/lib/course-admin-facade.service.ts
  libs/course-client/shared/domain/src/course-client-domain.module.ts
  libs/course-client/shared/domain/src/course/state/course.effects.spec.ts
  libs/course-client/shared/domain/src/course/state/course.effects.ts
  libs/shared/domain/src/shared-data-access.module.ts
  libs/shared/ngrx-universal-rehydrate/tsconfig.lib.json
  libs/shared/ngrx-universal-rehydrate/tsconfig.lib.prod.json
  migrations.json
  nx.json
  package.json
  yarn.lock
Due: npx eslint --fix, npx nx format:write --files

fix: vite config
  apps/course-platform-analog/vite.config.ts
  package.json
Due: npx eslint --fix, npx nx format:write --files

chore: remove postinstall
  package.json
Due: npx nx format:write --files

chore: vite fix
  apps/course-platform-analog/tsconfig.app.json
  apps/course-platform-analog/tsconfig.json
  apps/course-platform-analog/vite.config.ts
Due: npx eslint --fix, npx nx format:write --files

chore: fix auth guard
  libs/course-client/shared/domain/src/auth/auth.guard.ts
  package.json
  yarn.lock
Due: npx eslint --fix, npx nx format:write --files

chore: tsconfig update
  apps/course-platform-analog/tsconfig.json
Due: npx nx format:write --files

chore: create analog app
  apps/analog-app/.eslintrc.json
  apps/analog-app/index.html
  apps/analog-app/package.json
  apps/analog-app/project.json
  apps/analog-app/public/.gitkeep
  apps/analog-app/public/analog.svg
  apps/analog-app/public/favicon.ico
  apps/analog-app/src/app/app.component.spec.ts
  apps/analog-app/src/app/app.component.ts
  apps/analog-app/src/app/app.config.server.ts
  apps/analog-app/src/app/app.config.ts
  apps/analog-app/src/app/pages/(home).page.ts
  apps/analog-app/src/app/pages/analog-welcome.component.ts
  apps/analog-app/src/app/pages/login.page.ts
  apps/analog-app/src/main.server.ts
  apps/analog-app/src/main.ts
  apps/analog-app/src/server/routes/v1/hello.ts
  apps/analog-app/src/styles.css
  apps/analog-app/src/test-setup.ts
  apps/analog-app/src/vite-env.d.ts
  apps/analog-app/tsconfig.app.json
  apps/analog-app/tsconfig.editor.json
  apps/analog-app/tsconfig.json
  apps/analog-app/tsconfig.spec.json
  apps/analog-app/vite.config.ts
  package.json
  yarn.lock
Due: npx eslint --fix, npx nx format:write --files

chore: update package
  package.json
  yarn.lock
Due: npx nx format:write --files

chore: login
  apps/analog-app/src/app/pages/login.page.ts
Due: npx eslint --fix, npx nx format:write --files

chore: update tsconfig
  tsconfig.base.json
Due: npx nx format:write --files

chore: vercel config
  apps/analog-app/vite.config.ts
Due: npx eslint --fix, npx nx format:write --files

chore: remove vercel file
  vercel.json
Due: npx nx format:write --files

chore: update login page
  apps/analog-app/index.html
  apps/analog-app/public/assets/.gitkeep
  apps/analog-app/public/assets/analog.svg
  apps/analog-app/public/assets/i18n/en.json
  apps/analog-app/public/assets/img/login.jpg
  apps/analog-app/public/assets/logo.png
  apps/analog-app/src/app/pages/login.page.ts
  apps/analog-app/src/styles.css
  apps/analog-app/src/styles.scss
  apps/analog-app/vite.config.ts
  apps/course-platform-analog/src/app/pages/login.page.ts
Due: npx eslint --fix, npx nx format:write --files, npx stylelint --fix

chore: remove guard
  apps/analog-app/src/app/pages/login.page.ts
Due: npx eslint --fix, npx nx format:write --files
