Repository lydemann/course-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx nx format:write --files, npx stylelint --fix

.lintstagedrc:

{
	"*.ts": [
		"npx eslint --fix"
	],
	"*": [
        "npx nx format:write --files"
    ],
	"*.scss": [
		"npx stylelint --fix"
	]
}

Fix create user (#109)
  libs/course-admin/create-user/feature/src/index.ts
  libs/course-admin/create-user/feature/src/lib/create-user.component.ts
  libs/course-admin/create-user/feature/src/lib/create-user.module.ts
  libs/course-admin/create-user/feature/src/lib/create-user.routing.ts
  libs/course-admin/shared/ui/src/lib/shared.module.ts
  libs/course-admin/shell/src/lib/app.routing.ts
  libs/course-client/feature/src/lib/app.routing.ts
  libs/course-client/shared/domain/src/auth/redirect-if-logged-in.service.ts
  libs/course-client/shared/domain/src/auth/redirect-if-logged-out.service.ts
  libs/shared/auth/domain/src/lib/auth/user.service.ts
Due: npx eslint --fix, npx nx format:write --files

chore: action item
  libs/course-client/feature/src/lib/course/containers/action-items/action-item/action-item.component.ts
  libs/course-client/feature/src/lib/course/containers/action-items/action-items.component.ts
  libs/course-client/shared/domain/src/course/state/course.reducers.ts
Due: npx eslint --fix, npx nx format:write --files

Bugfix/fix progress (#110)
  libs/course-client/feature/src/lib/course/containers/action-items/action-item/action-item.component.ts
  libs/course-client/feature/src/lib/course/containers/action-items/action-items.component.ts
  libs/course-client/shared/domain/src/course/state/course.reducers.ts
Due: npx eslint --fix, npx nx format:write --files

fix: account key
  apps/course-platform-analog/src/main.server.ts
Due: npx eslint --fix, npx nx format:write --files

Feature/fix import servicekaccountkey (#111)
  apps/course-platform-analog/src/main.server.ts
Due: npx eslint --fix, npx nx format:write --files

feat: fix admin lesson
  libs/course-admin/feature/src/lib/lesson-admin/lesson-admin-form/lesson-admin-form.component.html
  libs/course-admin/feature/src/lib/lesson-admin/lesson-admin-form/lesson-admin-form.component.scss
  libs/course-admin/feature/src/lib/lesson-admin/lesson-admin-form/lesson-admin-form.component.ts
  libs/course-admin/feature/src/lib/lesson-admin/lesson-admin.component.scss
  libs/course-admin/feature/src/lib/lesson-admin/lesson-admin.component.ts
  libs/course-admin/feature/src/lib/lesson-admin/lesson-admin.module.ts
  libs/course-admin/shared/domain/src/lib/course-admin-facade.service.ts
  libs/shared/domain/src/resources/graphql/graphql.module.ts
  libs/shared/ui/src/lib/shared-ui.module.ts
  libs/shared/ui/src/lib/toast/index.ts
  libs/shared/ui/src/lib/toast/toast.module.ts
  libs/shared/ui/src/lib/toast/toast.service.ts
Due: npx eslint --fix, npx nx format:write --files, npx stylelint --fix

chore: use angular serve
  apps/course-client/project.json
Due: npx nx format:write --files

fix: build
  apps/course-platform-analog/src/main.server.ts
Due: npx eslint --fix, npx nx format:write --files

Feature/fix admin lesson (#112)
  apps/course-client/project.json
  apps/course-platform-analog/src/main.server.ts
  libs/course-admin/feature/src/lib/lesson-admin/lesson-admin-form/lesson-admin-form.component.html
  libs/course-admin/feature/src/lib/lesson-admin/lesson-admin-form/lesson-admin-form.component.scss
  libs/course-admin/feature/src/lib/lesson-admin/lesson-admin-form/lesson-admin-form.component.ts
  libs/course-admin/feature/src/lib/lesson-admin/lesson-admin.component.scss
  libs/course-admin/feature/src/lib/lesson-admin/lesson-admin.component.ts
  libs/course-admin/feature/src/lib/lesson-admin/lesson-admin.module.ts
  libs/course-admin/shared/domain/src/lib/course-admin-facade.service.ts
  libs/shared/domain/src/resources/graphql/graphql.module.ts
  libs/shared/ui/src/lib/shared-ui.module.ts
  libs/shared/ui/src/lib/toast/index.ts
  libs/shared/ui/src/lib/toast/toast.module.ts
  libs/shared/ui/src/lib/toast/toast.service.ts
Due: npx eslint --fix, npx nx format:write --files, npx stylelint --fix

fix: create new lesson
  apps/course-service/src/app/lesson/lesson-resolvers.ts
  apps/course-service/src/app/section/section-resolvers.ts
  libs/course-admin/feature/src/lib/lesson-admin/lesson-admin.component.ts
Due: npx eslint --fix, npx nx format:write --files

fix: lesson
  libs/course-admin/feature/src/lib/lesson-admin/lesson-admin.component.ts
Due: npx eslint --fix, npx nx format:write --files

fix: lesson responsive design
  libs/course-client/feature/src/lib/course/containers/course-content/course-content.component.html
Due: npx nx format:write --files

Bugfix/response design lesson (#114)
  apps/course-service/src/app/lesson/lesson-resolvers.ts
  apps/course-service/src/app/section/section-resolvers.ts
  libs/course-admin/feature/src/lib/lesson-admin/lesson-admin.component.ts
  libs/course-client/feature/src/lib/course/containers/course-content/course-content.component.html
Due: npx eslint --fix, npx nx format:write --files

fix: error handling, create and delete lesson
  apps/course-client/project.json
  apps/course-service/src/environments/environment.local.ts
  apps/course-service/src/environments/environment.prod.ts
  apps/course-service/src/main.ts
  libs/course-admin/feature/src/lib/course-admin.component.html
  libs/course-admin/feature/src/lib/lesson-admin/lesson-admin.component.ts
  libs/course-admin/shared/domain/src/lib/course-admin-facade.service.ts
  libs/shared/domain/src/resources/course-resources.service.ts
  libs/shared/domain/src/resources/graphql/graphql.module.ts
  libs/shared/ui/src/index.ts
  libs/shared/ui/src/lib/dialog/dialog.component.ts
  libs/shared/ui/src/lib/dialog/dialog.service.ts
  libs/shared/ui/src/lib/dialog/index.ts
  package.json
  yarn.lock
Due: npx eslint --fix, npx nx format:write --files

chore(course-platform-analog): copy firebase assets
  apps/course-platform-analog/firebase.json
  apps/course-platform-analog/vite.config.ts
Due: npx eslint --fix, npx nx format:write --files

chore: update action
  .github/workflows/automerge.yml
Due: npx nx format:write --files

Feature/copy firebase assets (#116)
  .github/workflows/automerge.yml
  apps/course-client/project.json
  apps/course-platform-analog/firebase.json
  apps/course-platform-analog/vite.config.ts
  apps/course-service/src/environments/environment.local.ts
  apps/course-service/src/environments/environment.prod.ts
  apps/course-service/src/main.ts
  libs/course-admin/feature/src/lib/course-admin.component.html
  libs/course-admin/feature/src/lib/lesson-admin/lesson-admin.component.ts
  libs/course-admin/shared/domain/src/lib/course-admin-facade.service.ts
  libs/shared/domain/src/resources/course-resources.service.ts
  libs/shared/domain/src/resources/graphql/graphql.module.ts
  libs/shared/ui/src/index.ts
  libs/shared/ui/src/lib/dialog/dialog.component.ts
  libs/shared/ui/src/lib/dialog/dialog.service.ts
  libs/shared/ui/src/lib/dialog/index.ts
  package.json
  yarn.lock
Due: npx eslint --fix, npx nx format:write --files

fix: analog deploy
  apps/course-platform-analog/vite.config.ts
Due: npx eslint --fix, npx nx format:write --files

Bugfix/fix deploy analog (#121)
  apps/course-platform-analog/vite.config.ts
Due: npx eslint --fix, npx nx format:write --files

chore: setup sentry
  apps/course-admin/src/bootstrap.ts
  apps/course-client/src/bootstrap.ts
  apps/course-platform-analog/src/app/app.config.ts
  package.json
  yarn.lock
Due: npx eslint --fix, npx nx format:write --files

chore: setup sentry (#122)
  apps/course-admin/src/bootstrap.ts
  apps/course-client/src/bootstrap.ts
  apps/course-platform-analog/src/app/app.config.ts
  package.json
  yarn.lock
Due: npx eslint --fix, npx nx format:write --files

chore: setup sentry
  apps/course-admin/src/bootstrap.ts
  apps/course-client/src/bootstrap.ts
  apps/course-client/src/error-handler.ts
  apps/course-platform-analog/src/app/app.config.ts
  libs/course-client/feature/src/lib/course/course-layout.component.ts
Due: npx eslint --fix, npx nx format:write --files

chore: fix sentry
  apps/course-client/src/bootstrap.ts
  apps/course-client/src/error-handler.ts
Due: npx eslint --fix, npx nx format:write --files

Feature/fix sentry (#123)
  apps/course-admin/src/bootstrap.ts
  apps/course-client/src/bootstrap.ts
  apps/course-platform-analog/src/app/app.config.ts
  libs/course-client/feature/src/lib/course/course-layout.component.ts
Due: npx eslint --fix, npx nx format:write --files

feat(course-client): angular pwa
  apps/course-client/ngsw-config.json
  apps/course-client/project.json
  apps/course-client/src/assets/icons/icon-128x128.png
  apps/course-client/src/assets/icons/icon-144x144.png
  apps/course-client/src/assets/icons/icon-152x152.png
  apps/course-client/src/assets/icons/icon-192x192.png
  apps/course-client/src/assets/icons/icon-384x384.png
  apps/course-client/src/assets/icons/icon-512x512.png
  apps/course-client/src/assets/icons/icon-72x72.png
  apps/course-client/src/assets/icons/icon-96x96.png
  apps/course-client/src/bootstrap.ts
  apps/course-client/src/main.ts
  apps/course-client/src/manifest.webmanifest
  package.json
  yarn.lock
Due: npx eslint --fix, npx nx format:write --files

Feature/pwa (#124)
  apps/course-client/ngsw-config.json
  apps/course-client/project.json
  apps/course-client/src/assets/icons/icon-128x128.png
  apps/course-client/src/assets/icons/icon-144x144.png
  apps/course-client/src/assets/icons/icon-152x152.png
  apps/course-client/src/assets/icons/icon-192x192.png
  apps/course-client/src/assets/icons/icon-384x384.png
  apps/course-client/src/assets/icons/icon-512x512.png
  apps/course-client/src/assets/icons/icon-72x72.png
  apps/course-client/src/assets/icons/icon-96x96.png
  apps/course-client/src/bootstrap.ts
  apps/course-client/src/main.ts
  apps/course-client/src/manifest.webmanifest
  package.json
  yarn.lock
Due: npx eslint --fix, npx nx format:write --files

fix: cache api
  apps/course-client/ngsw-config.json
  apps/course-client/src/assets/manifest.webmanifest
  apps/course-client/src/index.html
Due: npx nx format:write --files

Feature/pwa (#126)
  apps/course-client/ngsw-config.json
  apps/course-client/src/assets/manifest.webmanifest
  apps/course-client/src/index.html
Due: npx nx format:write --files

fix: manifest file
  apps/course-client/project.json
  apps/course-client/src/assets/manifest.webmanifest
Due: npx nx format:write --files

Feature/pwa (#127)
  apps/course-client/project.json
Due: npx nx format:write --files

feat: setup pwa
  apps/course-client/ngsw-config.json
Due: npx nx format:write --files

Feature/pwa (#128)
  .vscode/extensions.json
  apps/course-client/ngsw-config.json
Due: npx nx format:write --files

fix: crash no lesson
  libs/course-client/shared/domain/src/course/course-facade.service.ts
  libs/course-client/shared/domain/src/course/state/course.selectors.ts
Due: npx eslint --fix, npx nx format:write --files

fix: crash no lesson (#131)
  libs/course-client/shared/domain/src/course/course-facade.service.ts
  libs/course-client/shared/domain/src/course/state/course.selectors.ts
Due: npx eslint --fix, npx nx format:write --files

fix: local run
  apps/course-platform-analog/firebase.json
  apps/course-platform-analog/src/main.server.ts
  migrations.json
  package.json
  yarn.lock
Due: npx eslint --fix, npx nx format:write --files

chore: upgrade
  .gitignore
  apps/course-platform-analog/package.json
  apps/course-platform-analog/postcss.config.cjs
  apps/course-platform-analog/vite.config.ts
  libs/shared/auth/domain/src/lib/auth/user-server.service.ts
  libs/shared/ui/styles/project.json
  libs/shared/ui/styles/src/lib/global-styling.scss
  libs/shared/ui/styles/src/lib/global/color-helpers.scss
  libs/shared/ui/styles/src/lib/global/positioning.scss
  libs/shared/ui/styles/src/lib/global/spinner.scss
  libs/shared/ui/styles/src/lib/helpers/colors.scss
  libs/shared/ui/styles/src/lib/helpers/functions.scss
  libs/shared/ui/styles/src/lib/helpers/variables.scss
  libs/shared/ui/styles/src/lib/theme.service.spec.ts
  libs/shared/ui/styles/src/lib/theme.service.ts
  libs/shared/ui/styles/src/lib/themes.scss
  libs/shared/ui/styles/src/lib/themes/_palette.scss
  libs/shared/ui/styles/src/lib/themes/dark-theme.scss
  libs/shared/ui/styles/src/lib/themes/light-theme.scss
  libs/shared/ui/styles/src/lib/themes/theme-common.scss
  libs/shared/ui/styles/src/lib/themesm3-theme.scss
  package.json
  yarn.lock
Due: npx eslint --fix, npx nx format:write --files, npx stylelint --fix

chore: upgrade
  apps/course-platform-analog/project.json
  apps/course-platform-analog/src/app/app.config.ts
  apps/course-platform-analog/src/main.server.ts
  libs/course-client/shared/domain/src/auth/redirect-if-logged-in-server.guard.ts
  libs/course-client/shared/domain/src/auth/redirect-if-logged-out-server.guard.ts
  libs/shared/auth/domain/src/lib/auth/auth.interceptor.ts
  libs/shared/auth/domain/src/lib/auth/user-server.service.ts
  libs/shared/auth/domain/src/lib/auth/user.service.ts
  package.json
  yarn.lock
Due: npx eslint --fix, npx nx format:write --files

test: fix
  package.json
  yarn.lock
Due: npx nx format:write --files

chore: with fetch
  apps/course-platform-analog/src/app/app.config.ts
Due: npx eslint --fix, npx nx format:write --files
