Repository lydemann/course-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx nx format:write --files, npx stylelint --fix

.lintstagedrc:

{
	"*.ts": [
		"npx eslint --fix"
	],
	"*": [
        "npx nx format:write --files"
    ],
	"*.scss": [
		"npx stylelint --fix"
	]
}

fix: translations
  apps/course-platform-analog/src/app/app.config.ts
Due: npx eslint --fix, npx nx format:write --files

ci: nx cloud
  tools/pipelines/dte-pipeline.yml
Due: npx nx format:write --files

chore: enable nx cloud
  nx.json
Due: npx nx format:write --files

ci: nx cloud
  nx.json
Due: npx nx format:write --files

ci: fix
  tools/pipelines/dte-pipeline.yml
Due: npx nx format:write --files

ci: dte
  tools/pipelines/dte-pipeline.yml
Due: npx nx format:write --files

chore: remove nuxt app
  apps/course-platform-nuxt-e2e/.eslintrc.json
  apps/course-platform-nuxt-e2e/playwright.config.ts
  apps/course-platform-nuxt-e2e/project.json
  apps/course-platform-nuxt-e2e/src/example.spec.ts
  apps/course-platform-nuxt-e2e/tsconfig.json
  apps/course-platform-nuxt/.eslintrc.json
  apps/course-platform-nuxt/.npmrc
  apps/course-platform-nuxt/nuxt.config.ts
  apps/course-platform-nuxt/project.json
  apps/course-platform-nuxt/src/app.vue
  apps/course-platform-nuxt/src/assets/css/styles.css
  apps/course-platform-nuxt/src/components/NxWelcome.vue
  apps/course-platform-nuxt/src/pages/about.vue
  apps/course-platform-nuxt/src/pages/index.vue
  apps/course-platform-nuxt/src/public/.gitkeep
  apps/course-platform-nuxt/src/public/favicon.ico
  apps/course-platform-nuxt/src/server/api/greet.ts
  apps/course-platform-nuxt/src/server/tsconfig.json
  apps/course-platform-nuxt/tsconfig.app.json
  apps/course-platform-nuxt/tsconfig.json
Due: npx eslint --fix, npx nx format:write --files

chore: lint fix
  .eslintrc.json
  libs/shared/ui/src/lib/checkbox/checkbox.component.ts
  libs/shared/ui/src/lib/date-picker/date-picker.component.ts
  libs/shared/ui/src/lib/icon/icon.component.ts
  libs/shared/ui/src/lib/select/select.component.mock.ts
  libs/shared/ui/src/lib/spinner/spinner.component.mock.ts
Due: npx eslint --fix, npx nx format:write --files

chore: yarn
  yarn.lock
Due: npx nx format:write --files

chore: yarn update
  apps/analog-app/.eslintrc.json
  apps/analog-app/index.html
  apps/analog-app/package.json
  apps/analog-app/project.json
  apps/analog-app/public/.gitkeep
  apps/analog-app/public/analog.svg
  apps/analog-app/public/assets/.gitkeep
  apps/analog-app/public/assets/analog.svg
  apps/analog-app/public/assets/i18n/en.json
  apps/analog-app/public/assets/img/login.jpg
  apps/analog-app/public/assets/logo.png
  apps/analog-app/public/favicon.ico
  apps/analog-app/src/app/app.component.spec.ts
  apps/analog-app/src/app/app.component.ts
  apps/analog-app/src/app/app.config.server.ts
  apps/analog-app/src/app/app.config.ts
  apps/analog-app/src/app/pages/(home).page.ts
  apps/analog-app/src/app/pages/(home).server.ts
  apps/analog-app/src/app/pages/analog-welcome.component.ts
  apps/analog-app/src/app/pages/login.page.ts
  apps/analog-app/src/main.server.ts
  apps/analog-app/src/main.ts
  apps/analog-app/src/server/routes/v1/hello.ts
  apps/analog-app/src/styles.scss
  apps/analog-app/src/test-setup.ts
  apps/analog-app/src/vite-env.d.ts
  apps/analog-app/tsconfig.app.json
  apps/analog-app/tsconfig.editor.json
  apps/analog-app/tsconfig.json
  apps/analog-app/tsconfig.spec.json
  apps/analog-app/vite.config.ts
  apps/course-platform-analog/vite.config.ts
  nx.json
  package.json
  yarn.lock
Due: npx eslint --fix, npx nx format:write --files, npx stylelint --fix

fix: build
  package.json
  yarn.lock
Due: npx nx format:write --files

chore: nx config
  nx.json
Due: npx nx format:write --files

chore: update eslint
  package.json
  yarn.lock
Due: npx nx format:write --files

chore: update
  README.md
  apps/course-admin/project.json
  apps/course-service/project.json
  libs/shared/ui/styles/project.json
  package.json
  yarn.lock
Due: npx nx format:write --files

chore: build fix
  apps/course-admin/src/bootstrap.ts
  apps/course-service/src/app/lesson/lesson-resolvers.ts
  apps/course-service/src/main.ts
  apps/course-service/vite-env.d.ts
  libs/shared/domain/src/resources/course-resources.service.ts
  libs/shared/domain/trpc-server/vite-env.d.ts
Due: npx eslint --fix, npx nx format:write --files

chore: run client
  libs/shared/auth/domain/src/lib/auth/services/auth-sb.service.ts
  libs/shared/domain/trpc-server/src/lib/trpc/context.ts
Due: npx eslint --fix, npx nx format:write --files

chore: run client (#135)
  libs/shared/auth/domain/src/lib/auth/services/auth-sb.service.ts
  libs/shared/domain/trpc-server/src/lib/trpc/context.ts
Due: npx eslint --fix, npx nx format:write --files

fix: analog
  apps/course-client/src/main.ts
  libs/shared/auth/domain/src/lib/auth/services/auth-sb.service.ts
  libs/shared/domain/trpc-server/src/lib/trpc/context.ts
Due: npx eslint --fix, npx nx format:write --files

Fix analog (#136)
  apps/course-client/src/main.ts
  libs/shared/auth/domain/src/lib/auth/services/auth-sb.service.ts
  libs/shared/domain/trpc-server/src/lib/trpc/context.ts
Due: npx eslint --fix, npx nx format:write --files

fix: cookies
  apps/course-platform-analog/src/app/app.component.ts
  libs/shared/auth/domain/src/lib/auth/services/auth-sb.service.ts
Due: npx eslint --fix, npx nx format:write --files

Fix-cookies (#138)
  apps/course-platform-analog/src/app/app.component.ts
  libs/shared/auth/domain/src/lib/auth/services/auth-sb.service.ts
Due: npx eslint --fix, npx nx format:write --files

fix: remove server cache
  apps/course-platform-analog/src/app/app.config.ts
  apps/course-platform-analog/src/main.server.ts
Due: npx eslint --fix, npx nx format:write --files

fix: remove server cache (#139)
  apps/course-platform-analog/src/app/app.config.ts
  apps/course-platform-analog/src/main.server.ts
Due: npx eslint --fix, npx nx format:write --files

fix: sections order
  libs/shared/domain/trpc-server/src/lib/trpc/routers/sections-router.ts
Due: npx eslint --fix, npx nx format:write --files

fix: remove server cache (#140)
  libs/shared/domain/trpc-server/src/lib/trpc/routers/sections-router.ts
Due: npx eslint --fix, npx nx format:write --files

fix: update pwd
  libs/course-client/feature/src/lib/reset-password/reset-password.component.ts
  libs/course-client/shared/domain/src/profile/profile-sb.service.ts
  libs/shared/auth/domain/src/lib/auth/services/auth-fb.service.ts
  libs/shared/auth/domain/src/lib/auth/services/auth-sb.service.ts
  libs/shared/auth/domain/src/lib/auth/services/auth.service.ts
Due: npx eslint --fix, npx nx format:write --files

Feature/update pwd (#141)
  libs/course-client/feature/src/lib/reset-password/reset-password.component.ts
  libs/course-client/shared/domain/src/profile/profile-sb.service.ts
  libs/shared/auth/domain/src/lib/auth/services/auth-fb.service.ts
  libs/shared/auth/domain/src/lib/auth/services/auth-sb.service.ts
  libs/shared/auth/domain/src/lib/auth/services/auth.service.ts
Due: npx eslint --fix, npx nx format:write --files

chore: token refresh
  libs/shared/auth/domain/src/lib/auth/services/auth-sb.service.ts
Due: npx eslint --fix, npx nx format:write --files

Feature/password reset (#142)
  libs/shared/auth/domain/src/lib/auth/services/auth-sb.service.ts
Due: npx eslint --fix, npx nx format:write --files

chore: log auth
  libs/shared/auth/domain/src/lib/auth/services/auth-sb.service.ts
Due: npx eslint --fix, npx nx format:write --files

Feature/log auth (#143)
  libs/shared/auth/domain/src/lib/auth/services/auth-sb.service.ts
Due: npx eslint --fix, npx nx format:write --files

chore: no cache
  nx.json
Due: npx nx format:write --files

No cache (#144)
  nx.json
Due: npx nx format:write --files

chore: delete all cookies
  libs/shared/auth/domain/src/lib/auth/services/auth-sb.service.ts
Due: npx eslint --fix, npx nx format:write --files

Feature/fix deploy (#145)
  libs/shared/auth/domain/src/lib/auth/services/auth-sb.service.ts
Due: npx eslint --fix, npx nx format:write --files

fix: e2e
  apps/course-admin-e2e/cypress.config.ts
  apps/course-admin-e2e/src/e2e/app.cy.ts
  apps/course-admin-e2e/src/support/page-objects/courses.po.ts
  apps/course-admin-e2e/src/support/page-objects/login.po.ts
  apps/course-client-e2e/cypress.config.ts
  apps/course-client-e2e/src/e2e/app.cy.ts
  apps/course-client-e2e/src/support/page-objects/course.po.ts
  apps/course-client-e2e/src/support/page-objects/courses.po.ts
  apps/course-client-e2e/src/support/page-objects/login.po.ts
  libs/course-admin/feature/src/lib/courses/courses.component.html
  libs/course-admin/login/feature/src/lib/login.component.html
  libs/course-admin/login/feature/src/lib/login.component.ts
  libs/course-admin/shell/src/lib/app.routing.ts
  libs/course-client/feature/src/lib/app.routing.ts
  libs/course-client/feature/src/lib/courses/courses.component.ts
  libs/shared/auth/domain/src/lib/auth/services/auth-fb.service.ts
  libs/shared/auth/feature/.eslintrc.json
  libs/shared/auth/feature/README.md
  libs/shared/auth/feature/jest.config.ts
  libs/shared/auth/feature/project.json
  libs/shared/auth/feature/src/index.ts
  libs/shared/auth/feature/src/lib/logout/logout.component.ts
  libs/shared/auth/feature/src/test-setup.ts
  libs/shared/auth/feature/tsconfig.json
  libs/shared/auth/feature/tsconfig.lib.json
  libs/shared/auth/feature/tsconfig.spec.json
  package-lock.json
  package.json
  tsconfig.base.json
  yarn.lock
Due: npx eslint --fix, npx nx format:write --files

ci: update yarn
  package-lock.json
  yarn.lock
Due: npx nx format:write --files
