Repository lydemann/course-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write"
	],
	"*.ts": [
		"eslint --fix",
		"git add"
	],
	"*.scss": [
		"stylelint --fix",
		"git add"
	]
}

chore: working on fix navigate in mfe
  apps/course-admin/src/app/courses/courses.component.html
  apps/course-admin/src/app/courses/courses.component.ts
Due: prettier --write, eslint --fix

Fix app (#78)
  angular.json
  apps/course-admin/.eslintrc.json
  apps/course-admin/project.json
  apps/course-admin/src/app/courses/courses.component.html
  apps/course-admin/src/app/courses/courses.component.ts
  apps/course-admin/src/environments/environment.local.ts
  apps/course-admin/tsconfig.app.json
  apps/course-client/project.json
  apps/course-client/src/app/course/components/course-sidebar/course-sidebar.component.html
  apps/course-client/src/app/course/components/course-sidebar/course-sidebar.component.ts
  apps/course-client/src/app/course/components/course-sidebar/section/section-lessons.component.html
  apps/course-client/src/app/course/components/course-sidebar/section/section-lessons.component.ts
  apps/course-client/src/app/course/course.component.spec.ts
  apps/course-client/src/app/course/course.module.ts
  apps/course-client/src/app/courses/courses.component.html
  apps/course-client/tsconfig.json
  libs/course-client-lib/src/environments/environment.local.ts
  libs/course-client-lib/src/environments/environment.ts
  libs/shared/ui/src/lib/select/index.ts
  libs/shared/ui/src/lib/select/select-option-group/select-option-group.component.html
  libs/shared/ui/src/lib/select/select-option-group/select-option-group.component.ts
  libs/shared/ui/src/lib/select/select-option/select-option.component.ts
  libs/shared/ui/src/lib/select/select.component.html
  libs/shared/ui/src/lib/select/select.component.scss
  libs/shared/ui/src/lib/select/select.component.ts
  libs/shared/ui/src/lib/select/select.module.ts
  libs/shared/ui/src/lib/shared-ui.module.ts
  package.json
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

fix: link to admin course
  .husky/pre-push
  apps/course-client/module-federation.config.js
  apps/course-client/src/app/profile/profile.component.ts
  apps/course-client/src/app/redirect-to-course.resolver.ts
  libs/course-admin/feature/src/lib/courses/courses.component.html
  libs/course-admin/feature/src/lib/courses/courses.component.ts
  libs/course-admin/shell/src/lib/app.module.ts
  libs/course-client-lib/src/lib/profile/profile.service.ts
  libs/shared/domain/src/shared-data-access.module.ts
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

fix: link to admin course
  .husky/commit-msg
  .husky/post-merge
  .husky/pre-commit
  .huskyrc
Due: none

ci: fix
  tools/pipelines/pull-request.yaml
  tools/pipelines/scripts/build-affected.ps1
  tools/pipelines/scripts/create-affected-apps-txt.ps1
  tools/pipelines/scripts/tags-for-affected-apps.ps1
Due: none

chore: update section
  apps/course-service/src/app/lesson/lesson-resolvers.ts
Due: prettier --write, eslint --fix

chore: removed test
  libs/shared/ui/src/lib/icon/icon.component.spec.ts
Due: prettier --write, eslint --fix

test: fix
  apps/course-admin/project.json
  package.json
  yarn.lock
Due: prettier --write

test: fix e2e
  apps/course-client-e2e/cypress.config.ts
  apps/course-client-e2e/src/plugins/index.ts
Due: prettier --write, eslint --fix

chore: husky fix
  .eslintrc.json
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  apps/course-admin-e2e/cypress.config.ts
  apps/course-admin-e2e/src/plugins/index.ts
  apps/course-client/src/app/core/auth/redirect-if-authenticated.service.ts
  apps/course-client/typings.d.ts
  libs/course-client-lib/typings.d.ts
  libs/shared/ui/src/lib/date-picker/date-picker.component.ts
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

test: fix
  libs/shared/domain/project.json
Due: prettier --write

chore: update lockfile
  yarn.lock
Due: none

ci: fix affected
  tools/pipelines/scripts/build-affected.ps1
  tools/pipelines/scripts/create-affected-apps-txt.ps1
  tools/pipelines/scripts/tags-for-affected-apps.ps1
Due: none

Feature/fix ci affected (#81)
  tools/pipelines/scripts/build-affected.ps1
  tools/pipelines/scripts/create-affected-apps-txt.ps1
  tools/pipelines/scripts/tags-for-affected-apps.ps1
Due: none

ci: fix
  tools/pipelines/prepare-release.yml
Due: none

Feature/fix ci affected (#82)
  tools/pipelines/prepare-release.yml
Due: none

fix: format
  .lintstagedrc
Due: none

chore: format files
  .lintstagedrc
Due: none

Feature/fix ci affected (#83)
  .lintstagedrc
Due: none

fix: lint
  .lintstagedrc
  libs/course-admin/shell/src/lib/layout/layout.component.html
  nx.json
  package.json
  tsconfig.base.json
  yarn.lock
Due: prettier --write

chore: fix
  package.json
  yarn.lock
Due: prettier --write

Feature/fix ci affected (#84)
  .lintstagedrc
  libs/course-admin/shell/src/lib/layout/layout.component.html
  nx.json
  package.json
  tsconfig.base.json
  yarn.lock
Due: prettier --write

style: fix button style
  libs/course-admin/feature/src/lib/courses/courses.component.html
  libs/course-admin/settings/feature/.eslintrc.json
  libs/course-admin/settings/feature/src/lib/settings.component.html
  libs/course-admin/settings/feature/src/lib/settings.module.ts
  libs/course-admin/settings/feature/src/lib/tabs/profile/profile.component.html
  libs/course-admin/settings/feature/src/lib/tabs/profile/profile.component.scss
  libs/course-admin/settings/feature/src/lib/tabs/profile/profile.component.ts
  libs/shared/ui/src/lib/button/button.component.scss
Due: prettier --write, eslint --fix, stylelint --fix

style: fix button style (#85)
  libs/course-admin/feature/src/lib/courses/courses.component.html
  libs/course-admin/settings/feature/.eslintrc.json
  libs/course-admin/settings/feature/src/lib/settings.component.html
  libs/course-admin/settings/feature/src/lib/settings.module.ts
  libs/course-admin/settings/feature/src/lib/tabs/profile/profile.component.html
  libs/course-admin/settings/feature/src/lib/tabs/profile/profile.component.scss
  libs/course-admin/settings/feature/src/lib/tabs/profile/profile.component.ts
  libs/shared/ui/src/lib/button/button.component.scss
Due: prettier --write, eslint --fix, stylelint --fix

chore: update functions
  apps/course-service/src/app/schema.ts
  apps/course-service/src/app/server.ts
  apps/course-service/src/firebase.json
  apps/course-service/src/main.ts
  apps/course-service/tsconfig.json
  firebase.json
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

chore: working on fixing functions
  apps/course-admin/project.json
  apps/course-service/src/app/server.ts
  apps/course-service/src/firebase.json
  apps/course-service/src/main.ts
  firebase.json
  libs/course-admin/shared/domain/src/lib/environments/environment.local.ts
  libs/course-client-lib/src/environments/environment.local.ts
  libs/shared/domain/src/resources/graphql/graphql.module.ts
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

fix: create users
  .eslintrc.json
  .husky/pre-commit
  apps/course-client/project.json
  apps/course-client/src/app/course/containers/questions/questions.component.ts
  apps/course-client/src/app/help/help.component.ts
  apps/course-client/src/app/home/home.component.ts
  apps/course-client/src/app/layout/loading/loading.component.ts
  apps/course-service/project.json
  apps/course-service/src/app/user/user-resolvers.ts
  libs/course-admin/shared/domain/src/lib/environments/environment.local.ts
  libs/course-client-lib/src/environments/environment.local.ts
  libs/course-client-lib/src/environments/environment.ts
  libs/shared/interfaces/project.json
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Fix functions (#86)
  .eslintrc.json
  .husky/pre-commit
  apps/course-admin/project.json
  apps/course-client/project.json
  apps/course-client/src/app/course/containers/questions/questions.component.ts
  apps/course-client/src/app/help/help.component.ts
  apps/course-client/src/app/home/home.component.ts
  apps/course-client/src/app/layout/loading/loading.component.ts
  apps/course-service/project.json
  apps/course-service/src/app/schema.ts
  apps/course-service/src/app/server.ts
  apps/course-service/src/app/user/user-resolvers.ts
  apps/course-service/src/firebase.json
  apps/course-service/src/main.ts
  apps/course-service/tsconfig.json
  firebase.json
  libs/course-client-lib/src/environments/environment.ts
  libs/shared/domain/src/resources/graphql/graphql.module.ts
  libs/shared/interfaces/project.json
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

fix: course admin cache
  apps/course-service/src/app/lesson/lesson-resolvers.ts
  apps/course-service/src/app/lesson/lesson-schema.ts
  libs/course-admin/feature/src/lib/course-admin.component.ts
  libs/course-admin/feature/src/lib/lesson-admin/lesson-admin.component.ts
  libs/course-admin/shared/domain/src/lib/+state/sections-state.service.ts
  libs/course-admin/shared/domain/src/lib/course-admin-facade.service.ts
  libs/course-admin/shared/domain/tsconfig.editor.json
  libs/course-admin/shared/domain/tsconfig.json
  libs/shared/domain/src/resources/course-resources.service.ts
  libs/shared/domain/src/resources/graphql/graphql.module.ts
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Fix functions (#87)
  apps/course-service/src/app/lesson/lesson-resolvers.ts
  apps/course-service/src/app/lesson/lesson-schema.ts
  libs/course-admin/feature/src/lib/course-admin.component.ts
  libs/course-admin/feature/src/lib/lesson-admin/lesson-admin.component.ts
  libs/course-admin/shared/domain/src/lib/+state/sections-state.service.ts
  libs/course-admin/shared/domain/src/lib/course-admin-facade.service.ts
  libs/course-admin/shared/domain/tsconfig.editor.json
  libs/course-admin/shared/domain/tsconfig.json
  libs/shared/domain/src/resources/course-resources.service.ts
  libs/shared/domain/src/resources/graphql/graphql.module.ts
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

fix: admin
  libs/course-admin/feature/.eslintrc.json
  libs/course-admin/feature/src/lib/lesson-admin/lesson-admin-form/lesson-admin-form.component.html
  libs/course-admin/feature/src/lib/lesson-admin/lesson-admin-form/lesson-admin-form.component.ts
  libs/course-admin/feature/src/lib/lesson-admin/lesson-admin.component.html
  libs/course-admin/feature/src/lib/lesson-admin/lesson-admin.component.ts
  libs/shared/ui/src/lib/shared-ui.module.ts
Due: prettier --write, eslint --fix

Feature/fix admin (#89)
  libs/course-admin/feature/.eslintrc.json
  libs/course-admin/feature/src/lib/lesson-admin/lesson-admin-form/lesson-admin-form.component.html
  libs/course-admin/feature/src/lib/lesson-admin/lesson-admin-form/lesson-admin-form.component.ts
  libs/course-admin/feature/src/lib/lesson-admin/lesson-admin.component.html
  libs/course-admin/feature/src/lib/lesson-admin/lesson-admin.component.ts
  libs/shared/ui/src/lib/shared-ui.module.ts
Due: prettier --write, eslint --fix

fix: navigation in remote
  libs/course-admin/feature/src/lib/courses/courses.component.html
  libs/course-admin/feature/src/lib/courses/courses.component.ts
Due: prettier --write, eslint --fix

fix: mfe urls
  libs/course-admin/feature/src/lib/course-admin.component.html
  libs/course-admin/feature/src/lib/course-admin.component.ts
  libs/course-admin/feature/src/lib/lesson-admin/lesson-admin.component.html
  libs/course-admin/feature/src/lib/section-admin/section-admin.component.html
  libs/course-admin/shared/domain/src/lib/course-admin-facade.service.ts
Due: prettier --write, eslint --fix

fix: url
  libs/course-admin/feature/src/lib/course-admin.component.html
  libs/course-admin/feature/src/lib/course-admin.component.ts
Due: prettier --write, eslint --fix

Feature/fix mf (#90)
  libs/course-admin/feature/src/lib/course-admin.component.html
  libs/course-admin/feature/src/lib/course-admin.component.ts
  libs/course-admin/feature/src/lib/courses/courses.component.html
  libs/course-admin/feature/src/lib/courses/courses.component.ts
  libs/course-admin/feature/src/lib/lesson-admin/lesson-admin.component.html
  libs/course-admin/feature/src/lib/section-admin/section-admin.component.html
  libs/course-admin/shared/domain/src/lib/course-admin-facade.service.ts
Due: prettier --write, eslint --fix

fix: create lesson
  apps/course-service/src/app/lesson/lesson-resolvers.ts
  libs/course-admin/feature/src/lib/course-admin.component.html
  libs/course-admin/feature/src/lib/lesson-admin/lesson-admin-form/lesson-admin-form.component.html
  libs/course-admin/feature/src/lib/lesson-admin/lesson-admin.component.ts
  libs/course-admin/shared/domain/src/lib/course-admin-facade.service.ts
  libs/shared/domain/src/resources/course-resources.service.ts
  libs/shared/feat-auth/project.json
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

chore: created new pipelines
  tools/pipelines/dte-pipeline.yml
  tools/pipelines/prepare-release.yml
  tools/pipelines/pull-request.yaml
  tools/pipelines/scripts/build-affected.ps1
  tools/pipelines/scripts/create-affected-apps-txt.ps1
  tools/pipelines/scripts/read-and-tag-affected-apps-in-artifact.ps1
  tools/pipelines/scripts/set-last-merged-pr-commit-sha.js
  tools/pipelines/scripts/tags-for-affected-apps.ps1
  tools/pipelines/simple-pipeline.yml
  tools/pipelines/templates/npm-setup.yml
  tools/pipelines/templates/publish-artifacts.yml
Due: none
