Repository lydemann/course-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

chore: admin and service working
  .lintstagedrc
  apps/course-admin/src/app/app.routing.ts
  apps/course-service/src/main.ts
  libs/course-admin-lib/src/lib/course-admin/course-admin-facade.service.ts
  libs/course-admin-lib/src/lib/user/user-facade.service.ts
  libs/shared/data-access/src/school-id/school-id.service.ts
  libs/shared/data-access/src/shared-data-access.module.ts
  libs/shared/feat-auth/src/lib/auth/auth.service.ts
  libs/shared/feat-auth/src/lib/auth/set-token.interceptor.ts
  libs/shared/feat-auth/src/lib/auth/user.service.ts
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

chore: migrate course client
  angular.json
  apps/course-admin-e2e/project.json
  apps/course-admin/project.json
  apps/course-client-e2e/project.json
  apps/course-client/project.json
  apps/course-client/src/app/app.component.ts
  apps/course-client/src/app/app.routing.ts
  apps/course-client/src/app/course/course.component.ts
  apps/course-client/src/app/course/course.routing.ts
  apps/course-client/src/app/layout/topbar/topbar.component.html
  apps/course-client/src/app/layout/topbar/topbar.component.ts
  apps/course-client/src/app/profile/profile.component.ts
  apps/course-client/src/app/redirect-to-course.resolver.ts
  apps/course-service/project.json
  libs/course-admin-lib/project.json
  libs/course-client-lib/project.json
  libs/course-client-lib/src/lib/profile/profile.service.ts
  libs/shared/data-access/project.json
  libs/shared/data-access/src/school-id/school-id.service.ts
  libs/shared/feat-auth/project.json
  libs/shared/interfaces/project.json
  libs/shared/util/util-feature-toggle/project.json
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

fix(course-client): routing
  apps/course-admin/src/app/app.module.ts
  apps/course-client/src/app/app.module.ts
  apps/course-client/src/app/app.routing.ts
  apps/course-client/src/app/course/course.routing.ts
Due: prettier --write, eslint --fix

test: fix
  .vscode/settings.json
  apps/course-admin-e2e/project.json
  apps/course-admin/project.json
  apps/course-client-e2e/project.json
  apps/course-client/jest.config.ts
  apps/course-client/project.json
  apps/course-client/src/app/forgot-password/forgot-password.component.spec.ts
  apps/course-service/project.json
  apps/course-service/src/app/user/user-resolvers.spec.ts
  apps/course-service/src/app/user/user-resolvers.ts
  apps/course-service/src/utils/jest-mock-class.ts
  libs/course-admin-lib/project.json
  libs/course-client-lib/project.json
  libs/shared/data-access/jest.config.ts
  libs/shared/data-access/project.json
  libs/shared/data-access/src/course/course-facade.service.spec.ts
  libs/shared/feat-auth/jest.config.ts
  libs/shared/interfaces/project.json
  libs/shared/util/util-feature-toggle/project.json
  nx.json
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

test: fix
  jest.preset.js
  libs/course-admin-lib/jest.config.ts
  libs/course-admin-lib/src/lib/user/user-facade.service.spec.ts
  libs/course-admin-lib/tsconfig.spec.json
  libs/course-client-lib/jest.config.ts
  libs/course-client-lib/src/lib/course/course-facade.service.spec.ts
  libs/course-client-lib/src/test-setup.ts
  libs/shared/data-access/jest.config.ts
Due: prettier --write, eslint --fix

fix: install
  package.json
Due: prettier --write

chore: build fix
  package.json
  yarn.lock
Due: prettier --write

chore: update cypress
  apps/course-admin-e2e/cypress.config.ts
  apps/course-admin-e2e/cypress.json
  apps/course-admin-e2e/project.json
  apps/course-admin-e2e/src/e2e/app.cy.ts
  apps/course-admin-e2e/src/support/e2e.ts
  apps/course-admin-e2e/tsconfig.e2e.json
  apps/course-client-e2e/cypress.config.ts
  apps/course-client-e2e/cypress.json
  apps/course-client-e2e/project.json
  apps/course-client-e2e/src/e2e/app.cy.ts
  apps/course-client-e2e/src/support/e2e.ts
  apps/course-client-e2e/tsconfig.e2e.json
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

chore: cypress update
  package.json
  yarn.lock
Due: prettier --write

perf: nest sections
  .eslintrc.json
  apps/course-service/src/app/firestore.ts
  apps/course-service/src/app/lesson/lesson-resolvers.ts
  apps/course-service/src/app/models/section-dto.ts
  apps/course-service/src/app/schema.ts
  apps/course-service/src/app/section/section-resolvers.ts
  apps/course-service/src/app/section/section-schema.ts
  apps/course-service/src/app/user/user-schema.ts
  apps/course-service/src/app/user/user-service.ts
  apps/course-service/tsconfig.app.json
  apps/course-service/tsconfig.json
  libs/shared/data-access/src/resources/course-resources.service.ts
  libs/shared/data-access/src/resources/graphql/graphql.module.ts
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

fix: update lesson
  apps/course-service/src/app/lesson/lesson-resolvers.ts
  apps/course-service/src/app/models/lesson-dto.ts
Due: prettier --write, eslint --fix

perf: nest sections (#68)
  .eslintrc.json
  apps/course-service/src/app/firestore.ts
  apps/course-service/src/app/lesson/lesson-resolvers.ts
  apps/course-service/src/app/models/lesson-dto.ts
  apps/course-service/src/app/models/section-dto.ts
  apps/course-service/src/app/schema.ts
  apps/course-service/src/app/section/section-resolvers.ts
  apps/course-service/src/app/section/section-schema.ts
  apps/course-service/src/app/user/user-schema.ts
  apps/course-service/src/app/user/user-service.ts
  apps/course-service/tsconfig.app.json
  apps/course-service/tsconfig.json
  libs/shared/data-access/src/resources/course-resources.service.ts
  libs/shared/data-access/src/resources/graphql/graphql.module.ts
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

fix: update community
  apps/course-client/src/app/layout/topbar/topbar.component.ts
Due: prettier --write, eslint --fix

Community (#69)
  apps/course-client/src/app/layout/topbar/topbar.component.ts
Due: prettier --write, eslint --fix

fix: resolvers
  apps/course-service/src/app/lesson/lesson-resolvers.ts
  apps/course-service/src/app/section/section-resolvers.ts
Due: prettier --write, eslint --fix

ci: fix deploy service
  webpack.node.config.js
Due: none

style: fix course page
  apps/course-client/src/app/courses/courses.component.html
Due: prettier --write

Fixing resolvers (#70)
  apps/course-client/src/app/courses/courses.component.html
  apps/course-service/src/app/lesson/lesson-resolvers.ts
  apps/course-service/src/app/section/section-resolvers.ts
  webpack.node.config.js
Due: prettier --write, eslint --fix

feat: set up mf
  apps/course-admin-e2e/tsconfig.json
  apps/course-admin/module-federation.config.js
  apps/course-admin/project.json
  apps/course-admin/src/app/app.module.ts
  apps/course-admin/src/app/app.routing.ts
  apps/course-admin/src/app/entry.module.ts
  apps/course-admin/tsconfig.json
  apps/course-admin/webpack.config.js
  apps/course-admin/webpack.prod.config.js
  apps/course-client-e2e/tsconfig.json
  apps/course-client/module-federation.config.js
  apps/course-client/project.json
  apps/course-client/src/app/app.routing.ts
  apps/course-client/src/bootstrap.ts
  apps/course-client/src/main.ts
  apps/course-client/src/remotes.d.ts
  apps/course-client/tsconfig.app.json
  apps/course-client/tsconfig.json
  apps/course-client/webpack.config.js
  apps/course-client/webpack.prod.config.js
  apps/course-service/tsconfig.json
  libs/course-admin-lib/tsconfig.json
  libs/course-client-lib/tsconfig.json
  libs/shared/data-access/src/resources/graphql/graphql-helpers.ts
  libs/shared/data-access/src/resources/graphql/graphql.module.ts
  libs/shared/data-access/tsconfig.json
  libs/shared/feat-auth/project.json
  libs/shared/feat-auth/tsconfig.json
  libs/shared/interfaces/tsconfig.json
  libs/shared/ui/tsconfig.json
  libs/shared/util/util-feature-toggle/tsconfig.json
  package.json
  tsconfig.base.json
  yarn.lock
Due: prettier --write, eslint --fix

test: fix e2e
  apps/course-admin-e2e/src/e2e/app.cy.ts
  apps/course-client-e2e/src/e2e/app.cy.ts
Due: prettier --write, eslint --fix

Module federation (#74)
  apps/course-admin-e2e/src/e2e/app.cy.ts
  apps/course-admin-e2e/tsconfig.json
  apps/course-admin/module-federation.config.js
  apps/course-admin/project.json
  apps/course-admin/src/app/app.module.ts
  apps/course-admin/src/app/app.routing.ts
  apps/course-admin/src/app/entry.module.ts
  apps/course-admin/tsconfig.json
  apps/course-admin/webpack.config.js
  apps/course-admin/webpack.prod.config.js
  apps/course-client-e2e/src/e2e/app.cy.ts
  apps/course-client-e2e/tsconfig.json
  apps/course-client/module-federation.config.js
  apps/course-client/project.json
  apps/course-client/src/app/app.routing.ts
  apps/course-client/src/bootstrap.ts
  apps/course-client/src/main.ts
  apps/course-client/src/remotes.d.ts
  apps/course-client/tsconfig.app.json
  apps/course-client/tsconfig.json
  apps/course-client/webpack.config.js
  apps/course-client/webpack.prod.config.js
  apps/course-service/tsconfig.json
  libs/course-admin-lib/tsconfig.json
  libs/course-client-lib/tsconfig.json
  libs/shared/data-access/src/resources/graphql/graphql-helpers.ts
  libs/shared/data-access/src/resources/graphql/graphql.module.ts
  libs/shared/data-access/tsconfig.json
  libs/shared/feat-auth/project.json
  libs/shared/feat-auth/tsconfig.json
  libs/shared/interfaces/tsconfig.json
  libs/shared/ui/tsconfig.json
  libs/shared/util/util-feature-toggle/tsconfig.json
  package.json
  tsconfig.base.json
  yarn.lock
Due: prettier --write, eslint --fix

fix: mf
  apps/course-client/tsconfig.json
  apps/course-client/webpack.prod.config.js
  apps/course-service/tsconfig.json
  libs/course-client-lib/tsconfig.lib.json
  libs/shared/feat-auth/tsconfig.lib.json
  tsconfig.base.json
Due: prettier --write

fix: mf (#75)
  apps/course-client/tsconfig.json
  apps/course-client/webpack.prod.config.js
  apps/course-service/tsconfig.json
  libs/course-client-lib/tsconfig.lib.json
  libs/shared/feat-auth/tsconfig.lib.json
  tsconfig.base.json
Due: prettier --write

fix: cors issue
  apps/course-admin/src/firebase.json
  apps/course-client/src/firebase.json
  firebase.json
Due: prettier --write

fix: course admin
  apps/course-admin/module-federation.config.js
  apps/course-admin/src/bootstrap.ts
  apps/course-admin/src/firebase.json
  apps/course-admin/src/main.ts
  firebase.json
Due: prettier --write, eslint --fix

chore: migrate to ng 15 + fix theming
  .stylelintrc.json
  apps/course-admin-e2e/cypress.config.ts
  apps/course-admin-e2e/src/e2e/app.cy.ts
  apps/course-admin-e2e/src/support/page-objects/login.po.ts
  apps/course-admin/tsconfig.app.json
  apps/course-client-e2e/cypress.config.ts
  apps/course-client-e2e/src/support/page-objects/course.po.ts
  apps/course-client-e2e/src/support/page-objects/login.po.ts
  apps/course-client/tsconfig.app.json
  libs/shared/ui/styles/src/lib/global/color-helpers.scss
  libs/shared/ui/styles/src/lib/themes.scss
  libs/shared/ui/styles/src/lib/themes/dark-theme.scss
  libs/shared/ui/styles/src/lib/themes/light-theme.scss
  libs/shared/ui/styles/src/lib/themes/theme-common.scss
  libs/shared/ui/tsconfig.lib.json
  migrations.json
  nx.json
  package.json
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

fix: run app
  nx.json
Due: prettier --write

style: fix theme
  libs/shared/ui/styles/src/lib/themes/light-theme.scss
Due: prettier --write, stylelint --fix

fix: lint values
  libs/shared/ui/styles/src/lib/themes/light-theme.scss
Due: prettier --write, stylelint --fix

fix: run course client
  apps/course-client/src/app/app.routing.ts
Due: prettier --write, eslint --fix

fix: cors
  firebase.json
Due: prettier --write

style: fix
  libs/shared/ui/styles/src/lib/themes.scss
Due: prettier --write, stylelint --fix

Fix cors (#76)
  .stylelintrc.json
  apps/course-admin-e2e/cypress.config.ts
  apps/course-admin-e2e/src/e2e/app.cy.ts
  apps/course-admin-e2e/src/support/page-objects/login.po.ts
  apps/course-admin/module-federation.config.js
  apps/course-admin/src/bootstrap.ts
  apps/course-admin/src/firebase.json
  apps/course-admin/src/main.ts
  apps/course-admin/tsconfig.app.json
  apps/course-client-e2e/cypress.config.ts
  apps/course-client-e2e/src/support/page-objects/course.po.ts
  apps/course-client-e2e/src/support/page-objects/login.po.ts
  apps/course-client/src/app/app.routing.ts
  apps/course-client/src/firebase.json
  apps/course-client/tsconfig.app.json
  firebase.json
  libs/shared/ui/styles/src/lib/global/color-helpers.scss
  libs/shared/ui/styles/src/lib/themes.scss
  libs/shared/ui/styles/src/lib/themes/dark-theme.scss
  libs/shared/ui/styles/src/lib/themes/light-theme.scss
  libs/shared/ui/styles/src/lib/themes/theme-common.scss
  libs/shared/ui/tsconfig.lib.json
  migrations.json
  package.json
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

chore: shared ui styles as implicit dep
  .gitignore
  angular.json
  apps/course-admin/project.json
  apps/course-client/project.json
  libs/shared/ui/project.json
  libs/shared/ui/styles/project.json
Due: prettier --write

Implicit deps (#77)
  .gitignore
  angular.json
  apps/course-admin/project.json
  apps/course-client/project.json
  libs/shared/ui/project.json
  libs/shared/ui/styles/project.json
Due: prettier --write

fix: local env as default
  apps/course-admin/.eslintrc.json
  apps/course-admin/project.json
  apps/course-admin/src/environments/environment.local.ts
Due: prettier --write, eslint --fix

style: courses loading
  apps/course-client/src/app/courses/courses.component.html
Due: prettier --write

fix: app render
  angular.json
  apps/course-admin/tsconfig.app.json
  apps/course-client/project.json
  apps/course-client/src/app/course/components/course-sidebar/course-sidebar.component.html
  apps/course-client/src/app/course/components/course-sidebar/course-sidebar.component.ts
  apps/course-client/src/app/course/components/course-sidebar/section/section-lessons.component.html
  apps/course-client/src/app/course/components/course-sidebar/section/section-lessons.component.ts
  apps/course-client/src/app/course/course.module.ts
  apps/course-client/tsconfig.json
  libs/course-client-lib/src/environments/environment.local.ts
  libs/course-client-lib/src/environments/environment.ts
  libs/shared/ui/src/lib/select/index.ts
  libs/shared/ui/src/lib/select/select-option-group/select-option-group.component.html
  libs/shared/ui/src/lib/select/select-option-group/select-option-group.component.ts
  libs/shared/ui/src/lib/select/select-option/select-option.component.ts
  libs/shared/ui/src/lib/select/select.component.html
  libs/shared/ui/src/lib/select/select.component.scss
  libs/shared/ui/src/lib/select/select.component.ts
  libs/shared/ui/src/lib/select/select.module.ts
  libs/shared/ui/src/lib/shared-ui.module.ts
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

test: fix
  apps/course-client/src/app/course/course.component.spec.ts
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  eslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
